<template>
  <div>
    <!-- Register a new user -->
    <h3 class="mb-3">
      {{ $t('header.postEdit') }}
    </h3>
    <div class="content-wrapper mb-5">
      <div
        style="background-color: #edf2f6; width:100%; min-height: 100vh;"
        class="pt-5"
      >
        <QuillEditor />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UserCreate',
  layout: 'Admin',
  components: {
    QuillEditor: () => import('~/components/common/Plugins/QuillEditor.vue')
  },
  middleware: 'AdminAuthRequired',
  head() {
    return {
      title: 'Create user'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
