<template>
  <b-container fluid class="p-5">
    <b-row>
      <!-- Profile information -->
      <b-col cols="12" md="5" lg="4">
        <b-card class="h-100" header-tag="header" header-bg-variant="gray-100">
          <template v-slot:header>
            <h6 class="mb-0">
              {{ $t('header.profileInformation') }}
            </h6>
          </template>
          <div class="text-center w-100 mb-4">
            <b-avatar
              :src="getAvatar()"
              size="12rem"
              button
              title="Click to change avatar"
              @click="$refs.avatar.$el.childNodes[0].click()"
            ></b-avatar>
            <b-form-file
              ref="avatar"
              v-model="avatarFile"
              class="mt-3"
              name="avatar"
              accept="image/jpeg, image/png"
              size="sm"
              style="display:none"
            ></b-form-file>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.name') }}
            </p>
            <p>
              {{ $store.state.currentUser.Name }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.email') }}
            </p>
            <p>
              {{ $store.state.currentUser.Email }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.gender') }}
            </p>
            <p>
              {{ $store.state.currentUser.Gender == 1 ? 'Male' : 'Female' }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.roleClient') }}
            </p>
            <p>
              {{ $store.state.currentUser.roles.Name }}
            </p>
          </div>
        </b-card>
      </b-col>
      <!-- Information and edit -->
      <b-col cols="12" md="7" lg="8">
        <b-card class="h-100" no-body>
          <b-tabs small card>
            <!-- Info tab -->
            <b-tab title="Info" active>
              <h2>{{ $t('header.courseDetail') }}</h2>
              <b-container fluid>
                <b-row>
                  <b-col
                    cols="12"
                    lg="4"
                    v-for="(item, index) in $store.state.currentUser.class"
                    :key="`course-${index}`"
                  >
                    <b-card
                      tag="article"
                      style="max-width: 20rem;"
                      class="mb-2"
                    >
                      <b-card-text>
                        {{ $t('label.className') }}
                        {{ item.Name }}
                      </b-card-text>
                      <b-card-text>
                        {{ $t('label.subject') }}
                        {{ $t(item.Subject.toLowerCase()) }}
                      </b-card-text>
                    </b-card>
                  </b-col>
                </b-row>
              </b-container>
            </b-tab>
            <!-- Edit tab -->
            <b-tab title="Edit">
              <b-form @submit.prevent="editUser">
                <b-row>
                  <b-col cols="12">
                    <b-form-group
                      id="input-group-1"
                      :label="$t('label.email')"
                      label-for="input-1"
                    >
                      <b-form-input
                        id="input-1"
                        v-model.trim="email"
                        type="email"
                        required
                        :placeholder="$t('placeholder.email')"
                        :disabled="processing"
                      ></b-form-input>
                    </b-form-group>

                    <b-form-group
                      id="input-group-2"
                      :label="$t('label.name')"
                      label-for="input-2"
                    >
                      <b-form-input
                        id="input-2"
                        v-model.trim="name"
                        required
                        :placeholder="$t('placeholder.name')"
                        :disabled="processing"
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="input-group-3"
                      :label="$t('label.gender')"
                      label-for="input-3"
                    >
                      <b-form-select
                        id="input-3"
                        v-model="gender"
                        :options="genderOptions"
                        :disabled="processing"
                      ></b-form-select>
                    </b-form-group>
                    <b-form-group
                      id="input-group-5"
                      :label="$t('label.password')"
                      label-for="input-5"
                    >
                      <b-form-input
                        id="input-5"
                        v-model.trim="password"
                        type="password"
                        :placeholder="$t('placeholder.password')"
                        :disabled="processing"
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col cols="12" class="text-right">
                    <b-button
                      variant="primary"
                      type="submit"
                      :disabled="processing"
                    >
                      {{ $t('label.submit') }}
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'Profile',
  layout: 'Client',
  middleware: 'AuthRequired',
  data() {
    return {
      // Edit form information
      email: this.$store.state.currentUser.Email,
      name: this.$store.state.currentUser.Name,
      password: '',
      gender: Boolean(this.$store.state.currentUser.Gender),
      genderOptions: [
        { value: true, text: this.$t('gender.male') },
        { value: false, text: this.$t('gender.female') }
      ],
      // Avatar
      avatar: '',
      avatarFile: null,
      // Processing to prevent API spam
      processing: false
    }
  },
  watch: {
    // update avatar
    async avatarFile() {
      try {
        const data = new FormData()
        data.append('avatar', this.avatarFile)
        const response = await this.$axios.put('/user/upload-avatar', data, {
          headers: {
            Authorization: `Bearer ${Cookie.get('token')}`
          }
        })
        if (response.data.status == 200) {
          this.getUser()
          this.$bvToast.toast(this.$t('notification.updateSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(response.data.message, {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  methods: {
    // get current user for edit
    async getUser() {
      // Get current user using token
      try {
        const response = await this.$axios.get('/user/me', {
          headers: { Authorization: `Bearer ${Cookie.get('token')}` }
        })
        if (response.data.status == 200) {
          this.$store.commit('SET_USER', response.data.data)
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    },
    // API to edit user
    async editUser() {
      try {
        this.processing = true
        const user = {
          Email: this.email,
          Name: this.name,
          Password: this.password,
          Gender: this.gender
        }
        if (this.password.length == 0) {
          delete user['Password']
        }
        const response = await this.$axios.put(
          '/user/update-information',
          user,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.updateSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (error) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    getAvatar() {
      if (this.$store.state.currentUser.Avatar == null) {
        if (this.$store.state.currentUser.Gender == 1) {
          return '~/assets/img/default-man.png'
        } else {
          return '~/assets/img/default-woman.png'
        }
      } else {
        return this.$store.state.currentUser.Avatar
      }
    }
  },
  head() {
    return {
      title: 'Profile'
    }
  }
}
</script>
