<template>
  <div>
    <h3 class="mb-3">
      {{ $t('header.classCreate') }}
    </h3>
    <div class="content-wrapper">
      <div>
        <ValidationObserver v-slot="{ handleSubmit }">
          <b-form @submit.prevent="handleSubmit(addClass)">
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-1"
                :label="$t('label.className')"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model.trim="name"
                  type="text"
                  :disabled="processing"
                  :placeholder="$t('placeholder.className')"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-2"
                :label="$t('label.detail')"
                label-for="input-2"
              >
                <b-form-textarea
                  id="input-2"
                  v-model.trim="detail"
                  :placeholder="$t('placeholder.classDetail')"
                  :disabled="processing"
                  rows="3"
                  max-rows="6"
                ></b-form-textarea>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-group
              id="input-group-3"
              :label="$t('label.subject')"
              label-for="input-3"
            >
              <b-form-select
                id="input-3"
                v-model.trim="subject"
                :disabled="processing"
                :options="subjectOption"
              ></b-form-select>
            </b-form-group>
            <b-form-group
              id="input-group-4"
              :label="$t('label.teacher')"
              label-for="input-4"
            >
              <b-form-select
                id="input-4"
                v-model.trim="teacher"
                :options="teacherOption"
                :disabled="processing"
              ></b-form-select>
            </b-form-group>
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-5"
                :label="$t('label.studentMax')"
                label-for="input-5"
              >
                <b-form-input
                  id="input-5"
                  v-model.trim="studentAmount"
                  type="text"
                  :disabled="processing"
                  :placeholder="$t('placeholder.studentMax')"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-button variant="primary" type="submit" :disabled="processing">
              {{ $t('label.submit') }}
            </b-button>
          </b-form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'ClassCreate',
  layout: 'Admin',
  components: {},
  data() {
    return {
      // Class information
      name: '',
      detail: '',
      studentAmount: '',
      subject: 'Mathematics',
      subjectOption: [
        { value: 'Mathematics', text: 'Mathematics' },
        { value: 'Physics', text: 'Physic' },
        { value: 'Chemistry', text: 'Chemistry' },
        { value: 'English', text: 'English' },
        { value: 'Biology', text: 'Biology' },
        { value: 'Literature', text: 'Literature' }
      ],
      teacher: null,
      teacherOption: [],
      // Set processing to prevent spamming API
      processing: false
    }
  },
  watch: {
    subject() {
      this.teacher = null
      this.getTeacher()
    }
  },
  async mounted() {
    this.getTeacher()
  },
  methods: {
    // Add a new class
    async addClass() {
      try {
        this.processing = true
        const classInfo = {
          Name: this.name,
          Detail: this.detail,
          StudentAmount: parseInt(this.studentAmount),
          Subject: this.subject,
          TeacherID: this.teacher
        }
        if (this.teacher == null) {
          this.$bvToast.toast(this.$t('error.teacherRequired'), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        } else {
          const response = await this.$axios.post('/class/create', classInfo, {
            headers: {
              Authorization: `Bearer ${Cookie.get('token')}`
            }
          })
          if (response.data.status == 201) {
            this.$bvToast.toast(this.$t('notification.addSuccess'), {
              title: this.$t('notification.taskSuccess'),
              autoHideDelay: 5000,
              variant: 'success',
              appendToast: false
            })
          } else {
            this.$bvToast.toast(this.$t(response.data.message), {
              title: this.$t('error.taskFailed'),
              autoHideDelay: 5000,
              variant: 'danger',
              appendToast: false
            })
          }
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Get teacher of a specific subject
    async getTeacher() {
      try {
        this.teacherOption = [
          { value: null, text: this.$t('label.selectTeacher'), disabled: true }
        ]
        const response = await this.$axios.get(`/user/teacher/${this.subject}`)
        if (response.data.status == 200) {
          for (let teacher in response.data.data) {
            this.teacherOption.push({
              value: response.data.data[teacher].ID,
              text: `${response.data.data[teacher].Name} - ${response.data.data[teacher].Email}`
            })
          }
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  middleware: 'AdminAuthRequired',
  head() {
    return {
      title: 'Create Class'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
