<template>
  <div>
    <h3 class="mb-3 header">
      {{ $t('header.classList') }}
    </h3>
    <div class="content-wrapper">
      <div class="row">
        <b-col cols="6" class="d-flex">
          <!-- Search box -->
          <b-form-group class="mr-3">
            <b-input-group>
              <b-form-input
                v-model.trim="searchText"
                :placeholder="$t('placeholder.searchBySubject')"
                style="max-width:200px"
                size="sm"
                :disabled="processing"
                @keyup.enter="
                  currentPage = 1
                  search()
                "
              ></b-form-input>
              <template v-slot:append>
                <b-input-group-text>
                  <fa
                    :icon="['fas', 'search']"
                    style="cursor:pointer"
                    @click="
                      currentPage = 1
                      search()
                    "
                  />
                </b-input-group-text>
              </template>
            </b-input-group>
          </b-form-group>
          <!-- Select a subject cateogry -->
          <b-form-group>
            <b-form-select
              size="sm"
              v-model.trim="selectedSubject"
              :options="subjectOption"
              style="max-width:120px"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <!-- Limit and reset table -->
        <b-col cols="6" class="text-right">
          <span style="font-size: 0.8rem">
            {{ $t('action.showing') }} {{ items.length }} {{ $t('misc.in') }}
            {{ totalRow }} {{ $t('misc.result') }}
          </span>
          <b-form-select
            v-model="selectedLimit"
            :options="limitOptions"
            style="max-width:60px;"
            size="sm"
            :disabled="processing"
          ></b-form-select>
          <b-button
            size="sm"
            variant="danger"
            :disabled="processing"
            @click="
              currentPage = 1
              getClass()
            "
          >
            {{ $t('label.resetTable') }}
          </b-button>
        </b-col>
      </div>
      <!-- Main table -->
      <div class="mt-4">
        <b-table
          id="class-table"
          responsive
          bordered
          hover
          :items="items"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:cell()="data">
            <p v-contextmenu:contextmenu style="cursor: pointer">
              {{ data.value }}
            </p>
          </template>
          <template v-slot:cell(Gender)="data">
            {{ data.value == 1 ? $t('gender.male') : $t('gender.female') }}
          </template>
          <template v-slot:cell(subject.Name)="data">
            {{ $t(`subject.${data.value.toLowerCase()}`) }}
          </template>
        </b-table>
        <!-- Pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRow"
          :per-page="selectedLimit"
          aria-controls="class-table"
          :disabled="processing"
        ></b-pagination>
        <!-- Context menu -->
        <v-contextmenu ref="contextmenu" class="p-0">
          <v-contextmenu-item v-b-modal.showModal @click="getStudentInClass">
            <div class="p-1">
              <fa :icon="['fas', 'list']" />
              <span>{{ $t('action.showStudent') }}</span>
            </div>
          </v-contextmenu-item>
          <v-contextmenu-item @click="editClass">
            <div class="p-1">
              <fa :icon="['fas', 'hammer']" />
              <span>{{ $t('action.edit') }}</span>
            </div>
          </v-contextmenu-item>
          <v-contextmenu-item v-b-modal.deleteModal>
            <div class="p-1">
              <fa :icon="['fas', 'trash']" />
              <span>{{ $t('action.delete') }}</span>
            </div>
          </v-contextmenu-item>
        </v-contextmenu>
        <!-- Delete modal -->
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size:7rem"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.confirmDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="md"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              size="md"
              variant="danger"
              :disabled="processing"
              @click="deleteClass()"
            >
              {{ $t('action.delete') }}
            </b-button>
          </template>
        </b-modal>
        <!-- Modal to show all student in the class -->
        <b-modal id="showModal" title="Showing all student">
          <b-list-group>
            <p v-if="studentList.length == 0">
              {{ $t('modal.noStudentFound') }}
            </p>
            <b-list-group-item
              v-for="(item, index) in studentList"
              :key="`student-${index}`"
            >
              <p>
                {{ item.Name }} &bull; <span>{{ item.Email }}</span>
              </p>
            </b-list-group-item>
          </b-list-group>
          <template v-slot:modal-footer="{ cancel }">
            <b-button size="sm" variant="primary" @click="cancel()">
              {{ $t('action.hide') }}
            </b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'ClassList',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  data() {
    return {
      // Search text
      searchText: '',
      // Main content of table
      items: [],
      fields: [
        { key: 'ID', label: this.$t('field.id') },
        { key: 'Name', label: this.$t('field.name') },
        { key: 'Detail', label: this.$t('field.detail') },
        { key: 'CurrenceAmount', label: this.$t('field.currentStudentAmount') },
        { key: 'StudentAmount', label: this.$t('field.maxStudent') },
        { key: 'TeacherName', label: this.$t('field.teacherName') },
        { key: 'subject.Name', label: this.$t('field.subject') }
      ],
      // Table limit
      selectedLimit: 5,
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      // Table subject
      selectedSubject: null,
      subjectOption: [
        { value: null, text: 'All' },
        { value: 'Mathematics', text: this.$t('subject.math') },
        { value: 'Physics', text: this.$t('subject.physics') },
        { value: 'Chemistry', text: this.$t('subject.chemistry') },
        { value: 'English', text: this.$t('subject.english') },
        { value: 'Biology', text: this.$t('subject.biology') },
        { value: 'Literature', text: this.$t('subject.literature') }
      ],
      // Tabel of total row
      totalRow: null,
      // Current selected item for context menu
      selectedItem: {},
      // Current page in table
      currentPage: 1,
      // Set processing to prevent spamming API
      processing: false,
      // Student list in a class
      studentList: []
    }
  },
  watch: {
    currentPage() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getClass()
      }
    },
    selectedSubject() {
      this.getClass()
    },
    selectedLimit() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getClass()
      }
    }
  },
  mounted() {
    this.getClass()
  },
  methods: {
    // Get all Class of all subjects or a subject
    async getClass() {
      this.processing = true
      try {
        let response
        // If you don't select a specified subject
        if (this.selectedSubject == null) {
          response = await this.$axios.get(
            `/class/${this.currentPage}&${this.selectedLimit}`,
            {
              headers: { Authorization: `Bearer ${Cookie.get('token')}` }
            }
          )
          // If you select a specified subject
        } else {
          response = await this.$axios.get(
            `/class/${this.selectedSubject}/${this.currentPage}&${this.selectedLimit}`
          )
        }
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Edit Class
    editClass() {
      if (this.$store.state.currentUser.roles.Name != 'Admin') {
        this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } else {
        this.$router.push(`/admin/classes/${this.selectedItem.ID}/edit`)
      }
    },
    // Context menu handler
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    // Delete class
    async deleteClass() {
      this.processing = true
      try {
        const response = await this.$axios.delete(
          `/class/${this.selectedItem.ID}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.getClass()
          this.$bvToast.toast(this.$t('notification.deleteSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    },
    // Search a class in all of the subjects or in a subject
    async search() {
      this.processing = true
      try {
        let response
        // If you don't select a specified subject
        if (this.selectedSubject == null) {
          response = await this.$axios.get(
            `/class/search/${this.currentPage}&${this.selectedLimit}?data=${this.searchText}`,
            {
              headers: { Authorization: `Bearer ${Cookie.get('token')}` }
            }
          )
          // If you select a specified subject
        } else {
          response = await this.$axios.get(
            `/class/search/${this.selectedSubject}/${this.currentPage}&${this.selectedLimit}?data=${this.searchText}`,
            {
              headers: { Authorization: `Bearer ${Cookie.get('token')}` }
            }
          )
        }
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.searchFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.searchFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Get all student in one class
    async getStudentInClass() {
      this.processing = true
      try {
        let response = await this.$axios.get(
          `/user/student/${this.selectedItem.ID}&1&${this.selectedItem.CurrenceAmount}`
        )
        if (response.data.status == 200) {
          this.studentList = response.data.data
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Class List' }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
