<template>
  <b-card style="max-width: 15rem;border:none">
    <template v-slot:header v-if="active && $store.state.currentUser != null">
      <p
        class="mb-0 text-center"
        v-if="$store.state.currentUser.roles.Name == 'Teacher'"
      >
        {{ $t('header.teacher') | upper }}
      </p>
      <p
        class="mb-0 text-center"
        v-if="$store.state.currentUser.roles.Name == 'Student'"
      >
        {{ $t('header.student') | upper }}
      </p>
    </template>
    <b-card-body class="card-image">
      <b-card-img src="~/assets/img/class.jpg" alt="Image" bottom />
    </b-card-body>
    <b-card-body class="card-info">
      <b-card-title class="mt-2" title-tag="h5" style="cursor:pointer">
        {{ className }}
      </b-card-title>
      <b-card-text text-tag="p">
        <fa :icon="['fas', 'user-friends']" class="text-primary" />
        <span>{{ $t('label.studentAmount') }}</span>
        <span
          :class="
            currentStudentAmount >= maxStudentAmount / 2 ? 'text-danger' : ''
          "
        >
          {{ currentStudentAmount }}
        </span>
        <span>/ {{ maxStudentAmount }}</span>
      </b-card-text>
      <b-card-text text-tag="p">
        <fa :icon="['fas', 'mail-bulk']" class="text-warning" />
        <span> {{ $t('label.postAmount') }} {{ postAmount }} </span>
      </b-card-text>
      <b-card-text text-tag="p">
        <fa :icon="['fas', 'user-tie']" class="text-success" />
        <span> {{ $t('label.teacherName') }} {{ teacherName }}</span>
      </b-card-text>
    </b-card-body>
    <div class="text-right mt-3">
      <b-button variant="outline-primary" size="sm" @click="redirectToClass">
        {{ $t('label.learnMore') }}
      </b-button>
    </div>
  </b-card>
</template>
<script>
export default {
  methods: {
    redirectToClass() {
      // Only logged in people
      if (this.$store.state.currentUser == null) {
        this.$bvToast.toast(this.$t('error.needAuth'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } else {
        // Only people in class or admin and moderator
        if (
          this.active ||
          this.$store.state.currentUser.roles.Name == 'Admin' ||
          this.$store.state.currentUser.roles.Name == 'Moderator'
        ) {
          this.$router.push(`/client/class/${this.classID}`)
        } else {
          this.$bvToast.toast(this.$t('error.isNotInClass'), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      }
    }
  },
  props: {
    className: {
      type: String,
      default: 'Subject'
    },
    classID: {
      type: Number,
      default: 0
    },
    postAmount: {
      type: Number,
      default: 0
    },
    currentStudentAmount: {
      type: Number,
      default: 0
    },
    maxStudentAmount: {
      type: Number,
      default: 0
    },
    teacherName: {
      type: String,
      default: 'Nguyễn Văn A'
    },
    active: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style lang="scss" scoped>
.card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  position: relative;
}
.card-image {
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}
.card-image img {
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.card-image img:hover {
  transform: scale(1.2);
}
.card-info {
  padding: 0;
}
.text-blue {
  color: $blue;
}
.text-orange {
  color: $orange;
}
@media (min-width: 1200px) {
  .card {
    max-width: 22rem !important;
  }
}
.card-header {
  padding: 0;
  background-color: $success;
  color: $white;
}
</style>
