<template>
  <b-card style="max-width: 15rem;border:none">
    <template v-slot:header>
      <h5 class="mb-0 text-center">
        {{ $t(`subject.${Name.toLowerCase()}`) }}
      </h5>
    </template>
    <b-card-body class="card-image">
      <b-card-img :src="subjectImage" alt="Image" bottom />
    </b-card-body>
    <b-card-body class="card-info">
      <b-card-text text-tag="p">
        <fa :icon="['fas', 'pencil-alt']" class="text-orange" />
        <span> {{ $t('label.classAmount') }} {{ ClassAmount }}</span>
      </b-card-text>
      <b-card-text text-tag="p">
        <fa :icon="['fas', 'user-tie']" class="text-success" />
        <span> {{ $t('label.teacherAmount') }} {{ TeacherAmount }}</span>
      </b-card-text>
    </b-card-body>
    <div class="text-right mt-3">
      <b-button
        variant="outline-primary"
        size="sm"
        :to="`/client/subjects/${Name}`"
      >
        {{ $t('label.learnMore') }}
      </b-button>
    </div>
  </b-card>
</template>
<script>
export default {
  /* eslint-disable vue/prop-name-casing */
  props: {
    subjectImage: {
      type: String,
      default:
        'https://ugc.futurelearn.com/uploads/images/2b/56/header_2b5664b7-c855-4012-a193-4f4b8e16977c.jpg'
    },
    Name: {
      type: String,
      default: 'Subject'
    },
    ClassAmount: {
      type: Number,
      default: 0
    },
    TeacherAmount: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style lang="scss" scoped>
.card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  position: relative;
}
.card-header {
  background-color: $primary;
  color: $white;
}
.card-image {
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  margin-bottom: 1rem;
}
.card-image img {
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.card-image img:hover {
  transform: scale(1.2);
}
.card-info {
  padding: 0;
}
.text-blue {
  color: $blue;
}
.text-orange {
  color: $orange;
}
@media (min-width: 1200px) {
  .card {
    max-width: 22rem !important;
  }
}
</style>
