<template>
  <div>
    <h3 class="mb-3">
      {{ $t('header.classEdit') }}
    </h3>
    <b-container fluid class="content-wrapper">
      <ValidationObserver v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(editClass)">
          <!-- Class name -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group
              id="input-group-1"
              :label="$t('label.className')"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model.trim="name"
                type="text"
                :disabled="processing"
                :placeholder="$t('placeholder.className')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Class detail -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group
              id="input-group-2"
              :label="$t('label.detail')"
              label-for="input-2"
            >
              <b-form-textarea
                id="input-2"
                v-model.trim="detail"
                :placeholder="$t('placeholder.classDetail')"
                :disabled="processing"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Class subject (No edit ) -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group
              id="input-group-3"
              :label="$t('label.subject')"
              label-for="input-3"
            >
              <b-form-input
                id="input-3"
                v-model.trim="subject"
                type="text"
                disabled
                :placeholder="$t('placeholder.subject')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Class teacher -->
          <b-form-group
            id="input-group-4"
            :label="$t('label.teacher')"
            label-for="input-4"
          >
            <b-form-select
              id="input-4"
              v-model.trim="teacher"
              :options="teacherOption"
              :disabled="processing"
            ></b-form-select>
          </b-form-group>
          <!-- Max student of class -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group
              id="input-group-5"
              :label="$t('label.studentMax')"
              label-for="input-5"
            >
              <b-form-input
                id="input-5"
                v-model.trim="studentAmount"
                type="text"
                :disabled="processing"
                :placeholder="$t('placeholder.studentMax')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <b-button variant="primary" type="submit" :disabled="processing">
            {{ $t('label.submit') }}
          </b-button>
        </b-form>
      </ValidationObserver>
    </b-container>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserCreate',
  components: {},
  data() {
    return {
      // Class information
      name: '',
      detail: '',
      studentAmount: '',
      subject: '',
      teacher: null,
      teacherOption: [],
      // Set processing to prevent spamming API
      processing: false
    }
  },
  created() {
    if (this.$store.state.currentUser.roles.Name == 'Admin') {
      this.isNotAdmin = false
    } else {
      this.$router.push('/admin/classes')
    }
  },
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  async mounted() {
    await this.getClass()
    await this.getTeacher()
  },
  methods: {
    // API to get the detail of class
    async getClass() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/class/${this.$route.params.id}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.name = response.data.data.Name
          this.detail = response.data.data.Detail
          this.subject = response.data.data.subject.Name
          this.studentAmount = response.data.data.StudentAmount
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (err) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // API to edit class
    async editClass() {
      try {
        this.processing = true
        const user = {
          Name: this.name,
          Detail: this.detail,
          StudentAmount: this.studentAmount,
          TeacherID: this.teacher
        }
        if (this.teacher == null) {
          this.$bvToast.toast(this.$t('error.teacherRequired'), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
        const response = await this.$axios.put(
          `/class/${this.$route.params.id}`,
          user,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 201) {
          this.$bvToast.toast(this.$t('notification.updateSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (error) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Get all the teachers of a specific subject
    async getTeacher() {
      try {
        this.teacherOption = [
          { value: null, text: this.$t('label.selectTeacher'), disabled: true }
        ]
        const response = await this.$axios.get(`/user/teacher/${this.subject}`)
        if (response.data.status == 200) {
          for (let teacher in response.data.data) {
            this.teacherOption.push({
              value: response.data.data[teacher].ID,
              text: `${response.data.data[teacher].Name} - ${response.data.data[teacher].Email}`
            })
          }
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  head() {
    return {
      title: 'Edit user'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
