<template>
  <b-container fluid class="p-2 footer overflow-hidden">
    <b-row class="text-center">
      <b-col>
        <p class="my-1 text-white">
          {{ $t('footer.copyright') }}
        </p>
      </b-col>
      <b-col class="text-right">
        <b-form-select
          v-model="selectedLang"
          :options="lang"
          size="sm"
          class="my-auto"
          style="max-width:100px"
        ></b-form-select>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      selectedLang: null,
      lang: [
        { value: 'en', text: 'English' },
        { value: 'vi', text: 'Tiếng Việt' }
      ]
    }
  },
  watch: {
    selectedLang() {
      this.$i18n.locale = this.selectedLang
      localStorage.setItem(
        'locale',
        JSON.stringify({ lang: this.selectedLang })
      )
    }
  },
  mounted() {
    if (localStorage.getItem('locale') !== null) {
      this.selectedLang = JSON.parse(localStorage.getItem('locale')).lang
    } else {
      this.selectedLang = 'en'
      localStorage.setItem('locale', JSON.stringify({ lang: 'en' }))
    }
  }
}
</script>
<style lang="scss" scoped>
.footer {
  background-color: $black;
}
.brand-logo {
  max-width: 30px;
  margin-right: 0.3rem;
}
a:hover {
  color: $gray-500;
}
</style>
