<template>
  <b-navbar toggleable="sm" type="dark" variant="black">
    <b-navbar-brand to="/">
      {{ $t('navbar.brand') }}
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <nuxt-link
          v-if="$store.state.currentUser == null"
          to="/client/auth/login"
          class="nav-link text-white"
          style="text-decoration: none"
        >
          <fa :icon="['far', 'user']" class="mr-2" />
          {{ $t('navbar.login') }}
        </nuxt-link>
        <b-dropdown
          v-else
          right
          size="lg"
          variant="link"
          toggle-class="text-decoration-none p-0"
          no-caret
        >
          <template v-slot:button-content>
            <b-avatar
              v-if="$store.state.currentUser.Avatar == null"
              variant="info"
              :src="
                $store.state.currentUser.Gender == 1
                  ? require('~/assets/img/default-man.png')
                  : require('~/assets/img/default-woman.png')
              "
              class="mr-3"
              size="2rem"
            ></b-avatar>
            <b-avatar
              v-else
              variant="info"
              :src="$store.state.currentUser.Avatar"
              class="mr-3"
              size="2rem"
            ></b-avatar>
          </template>
          <b-dropdown-item disabled>
            <strong> {{ $store.state.currentUser.Name }}</strong>
          </b-dropdown-item>
          <b-dropdown-item to="/client/users/profile">
            {{ $t('navbar.profile') }}
          </b-dropdown-item>
          <b-dropdown-item @click="logout">
            {{ $t('navbar.logout') }}
          </b-dropdown-item>
        </b-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  methods: {
    logout() {
      // Clear storage information
      this.$store.dispatch('logout')
      // Redirect back to logout
      this.$router.push('/client/auth/login')
    }
  }
}
</script>
