<template>
  <client-only>
    <b-container fluid class="mt-5">
      <b-row>
        <b-jumbotron bg-variant="white" class="px-4 pt-3 content-wrapper">
          <div class="d-flex">
            <div class="d-flex w-50">
              <b-icon-file-earmark-plus
                variant="info"
                class="mr-2"
                style="font-size:30px;"
              ></b-icon-file-earmark-plus>
              <h4 class="title mb-0">
                {{ $t('header.postEdit') }}
              </h4>
            </div>

            <div class="text-right w-50">
              <b-button variant="danger" size="sm" @click="$router.back()">
                {{ $t('action.backToPrevious') }}
              </b-button>
            </div>
          </div>

          <hr class="my-3" />
          <ValidationObserver v-slot="{ handleSubmit }">
            <b-form @submit.prevent="handleSubmit(submitForm)">
              <h6>
                <b-icon-file-text variant="info" class="mr-1">
                  {{ $t('label.content') }}
                </b-icon-file-text>
              </h6>
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required"
              >
                <b-form-group
                  id="input-group-1"
                  :label="$t('label.title')"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="title"
                    type="text"
                    :disabled="processing"
                    :placeholder="$t('placeholder.title')"
                  ></b-form-input>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <div>
                <quill-editor
                  ref="editor"
                  v-model="content"
                  :options="editorOption"
                />
              </div>

              <b-button
                class="mt-4"
                variant="primary"
                type="submit"
                :disabled="processing"
              >
                {{ $t('action.edit') }}
              </b-button>
            </b-form>
          </ValidationObserver>
        </b-jumbotron>
      </b-row>
    </b-container>
  </client-only>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserCreate',
  layout: 'Client',
  data() {
    return {
      selectedClass: '',
      classOption: [],
      content: '',
      title: '',
      editorOption: {
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }],
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }]
          ]
        }
      },
      processing: false,
      loadingSpinner1: false
    }
  },
  mounted() {
    // Check if in class
    let inClass = false
    for (let i = 0; i < this.$store.state.currentUser.class.length; i++) {
      if (
        this.$store.state.currentUser.class[i].ID == this.$route.params.classID
      ) {
        inClass = true
        break
      }
    }
    if (
      inClass ||
      this.$store.state.currentUser.roles.Name == 'Admin' ||
      this.$store.state.currentUser.roles.Name == 'Moderator'
    ) {
      if (this.$route.params.postID != undefined) {
        this.getPostInfo()
      }
    } else {
      this.$store.dispatch('logout')
      this.$router.push('/client/auth/login')
    }
  },
  methods: {
    async getPostInfo() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/post/${this.$route.params.postID}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.title = response.data.data.Title
          this.content = response.data.data.Content
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },

    async submitForm() {
      try {
        this.processing = true
        const info = {
          Title: this.title,
          Content: this.content
        }
        const response = await this.$axios.put(
          `/post/${this.$route.params.postID}`,
          info,
          {
            headers: {
              Authorization: `Bearer ${Cookie.get('token')}`
            }
          }
        )
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.updateSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  middleware: 'AuthRequired',
  head() {
    return {
      title: 'Edit post'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
