<template>
  <b-container fluid class="p-0">
    <div class="header-container">
      <div class="header">
        <h2 class="header-title">
          {{ $t('header.quote-title') }}
        </h2>
        <p class="header-description">
          {{ $t('header.quote-description') }}
        </p>
      </div>
    </div>
    <b-container class="my-5">
      <h2>{{ $t('header.allSubjects') }}</h2>
      <b-row>
        <b-col
          v-for="(item, index) in subjectInfo"
          :key="`subject-${index}`"
          cols="12"
          md="4"
          class="mb-4"
        >
          <SubjectItem class="mx-auto" v-bind="item" />
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>
<script>
export default {
  name: 'Home',
  layout: 'Client',
  components: {
    SubjectItem: () => import('~/components/common/Template/SubjectItem.vue')
  },
  data() {
    return {
      searchText: '',
      subjectInfo: []
    }
  },
  methods: {
    async getAllSubject() {
      try {
        const response = await this.$axios.get('/subject')
        if (response.data.status == 200) {
          this.subjectInfo = response.data.data
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (error) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  async created() {
    this.getAllSubject()
  },
  head() {
    return {
      title: 'Home page'
    }
  }
}
</script>
<style lang="scss" scoped>
.header-container {
  height: 500px;
  width: 100%;
  background-image: url('~@/assets/img/header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  height: 100%;
  width: 50%;
  padding: 2.5rem;
}
.header-title {
  color: $white;
}
.header-description {
  color: $white;
}
@media (max-width: 575.98px) {
  .header {
    width: 80%;
  }
}
</style>
