<template>
  <div>
    <h3 class="mb-3">
      {{ $t('header.userEdit') }}
    </h3>
    <b-container fluid class="content-wrapper">
      <ValidationObserver v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(editUser)">
          <b-row>
            <!-- Avatar -->
            <b-col cols="12" md="3">
              <div class="text-center my-auto">
                <b-avatar size="8rem" fluid :src="avatar"></b-avatar>
              </div>
            </b-col>
            <!-- Main form -->
            <b-col cols="12" md="9">
              <!-- Email -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|email"
              >
                <b-form-group
                  id="input-group-1"
                  :label="$t('label.email')"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model.trim="email"
                    type="email"
                    :placeholder="$t('placeholder.email')"
                    :disabled="processing"
                  ></b-form-input>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Name -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required"
              >
                <b-form-group
                  id="input-group-2"
                  :label="$t('label.name')"
                  label-for="input-2"
                >
                  <b-form-input
                    id="input-2"
                    v-model.trim="name"
                    :placeholder="$t('placeholder.name')"
                    :disabled="processing"
                  ></b-form-input>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Gender -->
              <b-form-group
                id="input-group-3"
                :label="$t('label.gender')"
                label-for="input-3"
              >
                <b-form-select
                  id="input-3"
                  v-model="gender"
                  :options="genderOptions"
                  :disabled="processing"
                ></b-form-select>
              </b-form-group>
              <!-- Role (only admin) -->
              <b-form-group
                id="input-group-4"
                :label="$t('label.role')"
                label-for="input-4"
              >
                <b-form-select
                  id="input-4"
                  v-model="role"
                  :options="roleOptions"
                  :disabled="processing || isNotAdmin"
                ></b-form-select>
              </b-form-group>
              <!-- Password -->
              <b-form-group
                id="input-group-5"
                :label="$t('label.password')"
                label-for="input-5"
              >
                <b-form-input
                  id="input-5"
                  v-model.trim="password"
                  type="password"
                  :placeholder="$t('placeholder.password')"
                  :disabled="processing"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12" class="text-right">
              <b-button variant="primary" type="submit" :disabled="processing">
                {{ $t('label.submit') }}
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </ValidationObserver>
    </b-container>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserCreate',
  components: {},
  data() {
    return {
      // Form information
      email: '',
      name: '',
      password: '',
      avatar: '',
      gender: true,
      genderOptions: [
        { value: true, text: this.$t('gender.male') },
        { value: false, text: this.$t('gender.female') }
      ],
      role: '',
      roleArray: ['Admin', 'Moderator', 'Teacher', 'Student'],
      roleOptions: [
        { value: 'Admin', text: this.$t('role.admin'), disabled: true },
        { value: 'Moderator', text: this.$t('role.moderator') },
        { value: 'Teacher', text: this.$t('role.teacher') },
        { value: 'Student', text: this.$t('role.student') }
      ],
      // Avoid spamming API
      processing: false,
      // Check if admin ( for role editing )
      isNotAdmin: true
    }
  },
  created() {
    // Check if admin
    if (this.$store.state.currentUser.roles.Name == 'Admin') {
      this.isNotAdmin = false
    } else {
      this.$router.push('/admin/users')
    }
  },
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  async mounted() {
    this.getUser()
  },
  methods: {
    // API to get current user that is being edited
    async getUser() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/user/${this.$route.params.id}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.email = response.data.data.Email
          this.name = response.data.data.Name
          this.gender = Boolean(response.data.data.Gender)
          this.role = this.roleArray[response.data.data.Role_Id - 1]
          if (response.data.data.Avatar != null) {
            this.avatar = response.data.data.Avatar
          } else {
            if (response.data.data.Gender == 1) {
              this.avatar = require('~/assets/img/default-man.png')
            } else {
              this.avatar = require('~/assets/img/default-woman.png')
            }
          }
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // API to edit a user
    async editUser() {
      try {
        this.processing = true
        const user = {
          ID: parseInt(this.$route.params.id),
          Email: this.email,
          Name: this.name,
          Password: this.password,
          Gender: this.gender,
          Role: this.role
        }
        if (this.password.length == 0) {
          delete user['Password']
        }
        if (this.isNotAdmin) {
          delete user['Role']
        }
        const response = await this.$axios.put(`/user/${user.ID}`, user, {
          headers: { Authorization: `Bearer ${Cookie.get('token')}` }
        })
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.updateSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Edit user'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
