<template>
  <client-only>
    <b-container fluid>
      <b-jumbotron bg-variant="white" class="px-4 pb-4 pt-3">
        <div class="d-flex align-items-center" style="font-size:20px;">
          <b-icon-file-earmark-plus
            variant="info"
            class="mr-2"
            style="font-size:30px;"
          ></b-icon-file-earmark-plus>
          <h4 class="title mb-0">
            {{ $t('header.postCreate') }}
          </h4>
        </div>

        <hr class="my-3" />
        <ValidationObserver v-slot="{ handleSubmit }">
          <b-form @submit.prevent="handleSubmit(submitForm)">
            <h6>
              <b-icon-file-text variant="info" class="mr-1">
                {{ $t('label.content') }}
              </b-icon-file-text>
            </h6>
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-1"
                :label="$t('label.title')"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model.trim="title"
                  type="text"
                  :disabled="processing"
                  :placeholder="$t('placeholder.title')"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
              <b-form-group v-if="!isEditing">
                <label>{{ $t('label.className') }}</label>
                <v-select
                  v-model.trim="selectedClass"
                  label="text"
                  :options="classOption"
                  :map-keydown="classSelect"
                  :loading="loadingSpinner1"
                >
                </v-select>
              </b-form-group>
            </ValidationProvider>
            <div>
              <quill-editor
                ref="editor"
                v-model="content"
                :options="editorOption"
              />
            </div>

            <b-button
              class="mt-4"
              variant="primary"
              type="submit"
              :disabled="processing"
            >
              {{ $t('label.create') }}
            </b-button>
          </b-form>
        </ValidationObserver>
      </b-jumbotron>
    </b-container>
  </client-only>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'QuillExampleNuxt',
  data() {
    return {
      selectedClass: '',
      isEditing: false,
      classOption: [],
      content: '',
      title: '',
      editorOption: {
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }],
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }]
          ]
        }
      },
      processing: false,
      loadingSpinner1: false
    }
  },
  mounted() {
    if (this.$route.params.id != undefined) {
      this.isEditing = true
      this.getPostInfo()
    } else {
      this.isEditing = false
    }
  },
  methods: {
    async getPostInfo() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/post/${this.$route.params.id}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.title = response.data.data.Title
          this.content = response.data.data.Content
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (err) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    classSelect(map, vm) {
      return {
        ...map,
        ...this,
        13: async (e) => {
          e.preventDefault()
          try {
            this.classOption = []
            this.loadingSpinner1 = true
            const response = await this.$axios.get(
              `/class/search/1&5?data=${vm.search.trim()}`,
              {
                headers: { Authorization: `Bearer ${Cookie.get('token')}` }
              }
            )
            if (response.data.status == 200) {
              for (let classInfo in response.data.data) {
                this.classOption.push({
                  value: response.data.data[classInfo].ID,
                  text: `${response.data.data[classInfo].Name} - ${response.data.data[classInfo].subject.Name}`
                })
              }
            } else {
              this.$bvToast.toast(this.$t(response.data.message), {
                title: this.$t('error.taskFailed'),
                autoHideDelay: 5000,
                variant: 'danger',
                appendToast: false
              })
            }
          } catch {
            this.$bvToast.toast(this.$t('error.server'), {
              title: this.$t('error.taskFailed'),
              autoHideDelay: 5000,
              variant: 'danger',
              appendToast: false
            })
          } finally {
            this.loadingSpinner1 = false
          }
        }
      }
    },
    async submitForm() {
      try {
        this.processing = true
        const info = {
          Title: this.title,
          Content: this.content,
          Class_Id: this.selectedClass.value
        }
        let response
        if (this.isEditing) {
          delete info['Class_Id']
          response = await this.$axios.put(
            `/post/${this.$route.params.id}`,
            info,
            {
              headers: {
                Authorization: `Bearer ${Cookie.get('token')}`
              }
            }
          )
        } else {
          response = await this.$axios.post('/post/create', info, {
            headers: {
              Authorization: `Bearer ${Cookie.get('token')}`
            }
          })
        }
        if (response.data.status == 201) {
          this.$bvToast.toast(this.$t('notification.taskSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>
