<template>
  <b-navbar toggleable="sm" type="dark" variant="primary">
    <b-navbar-brand>
      <!-- Brand item for navigation -->
      <nuxt-link to="/" style="text-decoration: none">
        {{ $t('navbar.brand') }}
      </nuxt-link>
    </b-navbar-brand>
    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">
      <b-dropdown
        v-if="$store.state.currentUser != null"
        right
        size="lg"
        variant="link"
        toggle-class="text-decoration-none p-0"
        no-caret
      >
        <template v-slot:button-content>
          <b-avatar
            v-if="$store.state.currentUser.Avatar == null"
            variant="info"
            :src="
              $store.state.currentUser.Gender == 1
                ? require('~/assets/img/default-man.png')
                : require('~/assets/img/default-woman.png')
            "
            class="mr-3"
            size="2rem"
          ></b-avatar>
          <b-avatar
            v-else
            variant="info"
            :src="$store.state.currentUser.Avatar"
            class="mr-3"
            size="2rem"
          ></b-avatar>
        </template>
        <b-dropdown-item disabled>
          <strong> {{ $store.state.currentUser.Name }}</strong>
        </b-dropdown-item>
        <b-dropdown-item @click="logout">
          {{ $t('navbar.logout') }}
        </b-dropdown-item>
      </b-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  name: 'NavbarAdmin',
  methods: {
    logout() {
      // Store action to logout
      this.$store.dispatch('logout')
      // Redirect to login page
      this.$router.push('/admin/auth/login')
    }
  }
}
</script>
