<template>
  <div class="sidebar">
    <!-- User info -->
    <div v-if="$store.state.currentUser != null" class="sidebar-user-info">
      <div class="w-100 text-center">
        <b-avatar
          v-if="$store.state.currentUser.Avatar == null"
          variant="info"
          :src="
            $store.state.currentUser.Gender == 1
              ? require('~/assets/img/default-man.png')
              : require('~/assets/img/default-woman.png')
          "
          size="3rem"
        ></b-avatar>
        <b-avatar
          v-else
          variant="info"
          :src="$store.state.currentUser.Avatar"
          size="3rem"
        ></b-avatar>
      </div>
      <div class="description-hidden text-center">
        <p class="m-0">
          {{ $store.state.currentUser.Name | upper }}
        </p>
        <p class="m-0 user-badge" style="font-size: 0.8rem;">
          {{
            $t(`role.${$store.state.currentUser.roles.Name.toLowerCase()}`)
              | upper
          }}
        </p>
      </div>
    </div>
    <!-- Repeatable sidebar item -->
    <div role="tablist" class="mb-10 text-gray">
      <b-card no-body class="accordion mb-1">
        <!-- User -->
        <b-card-header
          header-tag="header"
          class="accordion-header"
          role="tab"
          v-b-toggle="'accordion-1'"
        >
          <fa :icon="['fas', `user`]" class="mr-2" />
          {{ $t('sidebar.users') }}
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float:right"
          />
          <fa class="closed" :icon="['fas', 'angle-up']" style="float:right" />
        </b-card-header>
        <b-collapse
          :id="'accordion-1'"
          visible
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link to="/admin/users" style="text-decoration:none">
              <p>{{ $t('sidebar.showAllUser') }}</p>
            </nuxt-link>
            <nuxt-link to="/admin/users/create" style="text-decoration:none">
              <p>{{ $t('sidebar.modifyUser') }}</p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- Classes -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          header-tag="header"
          class="accordion-header"
          role="tab"
          v-b-toggle="'accordion-2'"
        >
          <fa :icon="['fas', `archive`]" class="mr-2" />
          {{ $t('sidebar.classes') }}
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float:right"
          />
          <fa class="closed" :icon="['fas', 'angle-up']" style="float:right" />
        </b-card-header>
        <b-collapse
          :id="'accordion-2'"
          visible
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link to="/admin/classes" style="text-decoration:none">
              <p>{{ $t('sidebar.showAllClass') }}</p>
            </nuxt-link>
            <nuxt-link
              :to="isNotAdmin ? '#' : '/admin/classes/create'"
              @click.native="isNotAdmin ? notPermittedToAccess() : ''"
              style="text-decoration:none"
            >
              <p>{{ $t('sidebar.modifyClass') }}</p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- Posts -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          header-tag="header"
          class="accordion-header"
          role="tab"
          v-b-toggle="'accordion-3'"
        >
          <fa :icon="['fas', `book`]" class="mr-2" />
          {{ $t('sidebar.posts') }}
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float:right"
          />
          <fa class="closed" :icon="['fas', 'angle-up']" style="float:right" />
        </b-card-header>
        <b-collapse
          :id="'accordion-3'"
          visible
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link to="/admin/posts" style="text-decoration:none">
              <p>{{ $t('sidebar.showAllPost') }}</p>
            </nuxt-link>
            <nuxt-link
              :to="isNotAdmin ? '#' : '/admin/posts/create'"
              @click.native="isNotAdmin ? notPermittedToAccess() : ''"
              style="text-decoration:none"
            >
              <p>{{ $t('sidebar.modifyPost') }}</p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>

    <hr style="border-color: #6c757d ;width: 90%" />
    <!-- Language select -->
    <div class="mx-2 my-4">
      <b-form-select
        v-model="selectedLang"
        :options="lang"
        size="sm"
        class="mr-3"
        style="max-width:60px"
      ></b-form-select>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SidebarAdmin',
  data() {
    return {
      selectedLang: null,
      entity: [
        ['user', 'users'],
        ['archive', 'classes'],
        ['book', 'posts']
      ],
      lang: [
        { value: 'en', text: 'EN' },
        { value: 'vi', text: 'VI' }
      ],
      isNotAdmin: true
    }
  },
  methods: {
    notPermittedToAccess() {
      this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
        title: this.$t('error.taskFailed'),
        autoHideDelay: 5000,
        variant: 'danger',
        appendToast: false
      })
    }
  },
  watch: {
    selectedLang() {
      this.$i18n.locale = this.selectedLang
      localStorage.setItem(
        'locale',
        JSON.stringify({ lang: this.selectedLang })
      )
    }
  },
  mounted() {
    // Check if admin
    if (this.$store.state.currentUser.roles.Name == 'Admin') {
      this.isNotAdmin = false
    }
    // Language
    if (localStorage.getItem('locale') !== null) {
      this.selectedLang = JSON.parse(localStorage.getItem('locale')).lang
    } else {
      this.selectedLang = 'en'
      localStorage.setItem('locale', JSON.stringify({ lang: 'en' }))
    }
  }
}
</script>
<style lang="scss" scoped>
// CSS for item
.sidebar {
  min-height: 100vh;
  height: 100%;
  box-shadow: $shadow;
  .sidebar-user-info {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
.user-badge {
  color: $blue;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .description-hidden {
    display: none;
  }
}
.accordion {
  cursor: pointer;
  border-radius: 0;
  border: none;
}
.accordion-header {
  background: none;
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.collapsed > .opened,
:not(.collapsed) > .closed {
  display: none;
}
</style>
