<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <b-row class="h-100 no-gutters position-relative">
        <!-- Decorated picture -->
        <b-col md="6" class="form-background d-none d-md-block">
          <div class="ml-5 my-5 text-white">
            <nuxt-link to="/" style="text-decoration:none;color: #fff">
              <h3>{{ $t('form.brand') | upper }}</h3>
            </nuxt-link>

            <p>{{ $t('form.quote') }}</p>
          </div>
        </b-col>
        <!-- Main form -->
        <b-col md="6" class="p-4">
          <div class="text-center my-5">
            <h2>{{ $t('form.login') | upper }}</h2>
          </div>
          <ValidationObserver v-slot="{ handleSubmit }">
            <!-- Login form -->
            <b-form @submit.prevent="handleSubmit(login)">
              <!-- Email -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|email"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['far', 'envelope']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model.trim="email"
                      :disabled="processing"
                      :placeholder="$t('form.email')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Password -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|length"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['fas', 'lock']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model.trim="password"
                      type="password"
                      :disabled="processing"
                      :placeholder="$t('form.password')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <b-button
                type="submit"
                variant="gray"
                class="login-button"
                :disabled="processing"
              >
                {{ $t('form.login') }}
              </b-button>
            </b-form>
            <!-- Locale -->
            <div class="w-100">
              <b-form-select
                v-model="selectedLang"
                :options="lang"
                size="sm"
                class="mt-3 float-right"
                style="max-width:100px"
              ></b-form-select>
            </div>
          </ValidationObserver>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // Form information
      email: '',
      password: '',
      // Language selection
      selectedLang: null,
      lang: [
        { value: 'en', text: 'English' },
        { value: 'vi', text: 'Tiếng Việt' }
      ],
      // Processing state
      processing: false
    }
  },
  watch: {
    selectedLang() {
      this.$i18n.locale = this.selectedLang
      localStorage.setItem(
        'locale',
        JSON.stringify({ lang: this.selectedLang })
      )
    }
  },
  mounted() {
    // Locale is saved in localstorage
    if (localStorage.getItem('locale') !== null) {
      this.selectedLang = JSON.parse(localStorage.getItem('locale')).lang
    } else {
      this.selectedLang = 'en'
      localStorage.setItem('locale', JSON.stringify({ lang: 'en' }))
    }
  },
  methods: {
    // Login API
    async login() {
      try {
        this.processing = true
        // Login through Vuex action
        await this.$store.dispatch('login', {
          Email: this.email,
          Password: this.password
        })
        // Check if the current user is Admin or Moderator
        if (
          this.$store.state.currentUser.roles.Name != 'Admin' &&
          this.$store.state.currentUser.roles.Name != 'Moderator'
        ) {
          this.$store.dispatch('logout')
          this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
            title: this.$t('error.loginFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        } else {
          this.$router.push('/admin')
        }
      } catch (error) {
        // Logout if Exception is thrown
        this.$store.dispatch('logout')
        if (error.message) {
          this.$bvToast.toast(this.$t(error.message), {
            title: this.$t('error.loginFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t('error.server'), {
            title: this.$t('error.loginFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } finally {
        this.processing = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('~@/assets/img/gradient-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-wrapper {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 450px;
  background-color: $white;
  color: $black;
  box-shadow: $shadow-darker;
}
.form-background {
  overflow: hidden;
  background-image: url('~@/assets/img/technology-background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-button {
  width: 100%;
}
@media (max-width: 767.98px) {
  .form-wrapper {
    width: 350px;
  }
}
</style>
