<template>
  <b-container fluid class="p-0">
    <transition name="fade">
      <div v-if="loading" class="loading">
        <b-spinner class="spinner-icon"></b-spinner>
      </div>
    </transition>
    <NavbarAdmin />
    <b-row class="no-gutters">
      <div class="sidebar-wrapper">
        <SidebarAdmin />
      </div>
      <div class="content-wrapper">
        <nuxt />
      </div>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Admin',
  components: {
    NavbarAdmin: () =>
      import('~/components/common/Layout/Admin/NavbarAdmin.vue'),
    SidebarAdmin: () =>
      import('~/components/common/Layout/Admin/SidebarAdmin.vue')
  },
  data() {
    return {
      loading: true
    }
  },
  created() {
    setTimeout(() => {
      this.loading = false
    }, 500)
  }
}
</script>
<style lang="scss" scoped>
.sidebar-wrapper {
  width: 200px;
}
.content-wrapper {
  width: calc(100% - 200px);
  padding: 1rem;
}
@media (max-width: 767.98px) {
  .sidebar-wrapper {
    width: 70px;
  }
  .content-wrapper {
    width: calc(100% - 70px);
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $white; /* Just to visualize the extent */
  z-index: 9999;
}
.spinner-icon {
  position: fixed; /* change this to fixed */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 50px;
  height: 50px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
