<template>
  <client-only>
    <b-container fluid class="mt-5">
      <b-row>
        <b-jumbotron bg-variant="white" class="px-4 pt-3 content-wrapper">
          <div class="d-flex">
            <div class="d-flex w-50">
              <b-icon-file-earmark-plus
                variant="info"
                class="mr-2"
                style="font-size:30px;"
              ></b-icon-file-earmark-plus>
              <h4 class="title mb-0">
                {{ $t('header.postCreate') }}
              </h4>
            </div>

            <div class="text-right w-50">
              <b-button variant="danger" size="sm" @click="$router.back()">
                {{ $t('action.backToPrevious') }}
              </b-button>
            </div>
          </div>

          <hr class="my-3" />
          <ValidationObserver v-slot="{ handleSubmit }">
            <h6>
              <b-icon-images variant="info" class="mr-1"></b-icon-images>
              {{ $t('label.image') }}
            </h6>
            <div class="row pl-3">
              <div
                v-if="imageURL != null"
                class="p-0 previewImg mb-3 col-5 col-md-3 col-sm-3 col-xs-6 mr-2"
                :style="{
                  backgroundImage: 'url(' + imageURL + ')',
                  backgroundSize: 'cover',
                  backgroundRepeat: 'no-repeat'
                }"
              >
                <div
                  class="iconTrash d-flex align-items-center justify-content-center"
                >
                  <b-icon-trash
                    class="icon"
                    @click="removeImage()"
                  ></b-icon-trash>
                </div>
              </div>
              <div
                v-else
                class="d-flex align-items-center justify-content-center mb-3"
              >
                <b-form-file
                  ref="image"
                  v-model="imageFile"
                  class="mt-3"
                  name="image"
                  accept="image/jpeg, image/png"
                  size="sm"
                ></b-form-file>
              </div>
            </div>
            <b-form @submit.prevent="handleSubmit(submitForm)">
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required"
              >
                <b-form-group
                  id="input-group-1"
                  :label="$t('label.title')"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="title"
                    type="text"
                    :disabled="processing"
                    :placeholder="$t('placeholder.title')"
                  ></b-form-input>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <h6>
                <b-icon-file-text variant="info" class="mr-1">
                </b-icon-file-text>
                {{ $t('label.content') }}
              </h6>
              <div>
                <quill-editor
                  ref="editor"
                  v-model="content"
                  :options="editorOption"
                />
              </div>

              <b-button
                class="mt-4"
                variant="primary"
                type="submit"
                :disabled="processing"
              >
                {{ $t('action.submit') }}
              </b-button>
            </b-form>
          </ValidationObserver>
        </b-jumbotron>
      </b-row>
    </b-container>
  </client-only>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'PostCreate',
  layout: 'Client',
  data() {
    return {
      selectedClass: '',
      isEditing: false,
      classOption: [],
      content: '',
      title: '',
      editorOption: {
        theme: 'snow',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }],
            [{ indent: '-1' }, { indent: '+1' }], // outdent/indent
            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }]
          ]
        }
      },
      processing: false,
      loadingSpinner1: false,
      imageFile: null,
      imageURL: null
    }
  },
  mounted() {
    // Check if in class
    let inClass = false
    for (let i = 0; i < this.$store.state.currentUser.class.length; i++) {
      if (
        this.$store.state.currentUser.class[i].ID == this.$route.params.classID
      ) {
        inClass = true
        break
      }
    }
    if (
      inClass ||
      this.$store.state.currentUser.roles.Name == 'Admin' ||
      this.$store.state.currentUser.roles.Name == 'Moderator'
    ) {
      this.isEditing = false
    } else {
      this.$store.dispatch('logout')
      this.$router.push('/client/auth/login')
    }
  },
  watch: {
    async imageFile() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.imageFile)
        const response = await this.$axios.put('/post/upload-image', data, {
          headers: {
            Authorization: `Bearer ${Cookie.get('token')}`
          }
        })
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.addSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
          this.imageURL = response.data.data
        } else {
          this.$bvToast.toast(response.data.message, {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  methods: {
    removeImage() {
      this.imageURL = null
    },
    async submitForm() {
      try {
        this.processing = true
        const info = {
          Title: this.title,
          Content: this.content,
          imageURL: this.imageURL,
          Class_Id: this.$route.params.classID
        }
        if (this.imageURL == null) {
          delete info['imageURL']
        }
        const response = await this.$axios.post('/post/create', info, {
          headers: {
            Authorization: `Bearer ${Cookie.get('token')}`
          }
        })
        console.log(response)
        if (response.data.status == 201) {
          this.$bvToast.toast(this.$t('notification.addSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  middleware: 'AuthRequired',
  head() {
    return {
      title: 'Create post'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
@import url('./style.scss');
</style>
