.title {
    font-family: 'Epilogue', sans-serif;
  }
  .previewImg {
    height: 150px;
    border-radius: 5px;
  }
  .uploadImg {
    height: 150px;
    border: dotted 1px black;
    border-radius: 5px;
    cursor: pointer;
  }
  .icon {
      display: none;
  }
  .iconTrash {
      display: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
  }
  .previewImg:hover {
      border-radius: 5px;
  }
  .previewImg:hover > .iconTrash {
      display: inline;
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7));
      color: red;
  }
  .previewImg:hover > .iconTrash > .icon {
      display: inline;
  }
@media screen and (max-width: 992px) {
	.uploadImg, .previewImg {
        height: 150px;
    }
}
@media screen and (max-width: 576px) {
	.uploadImg, .previewImg {
        height: 150px;
    }
}