<template>
  <b-container fluid class="p-0">
    <div class="header-container">
      <div class="header">
        <h2 class="header-title">
          {{ $t('header.quote-title') }}
        </h2>
        <p class="header-description">
          {{ $t('header.quote-description') }}
        </p>
      </div>
    </div>
    <b-container class="my-5">
      <b-row>
        <b-col>
          <h2 class="mb-4">
            {{ $t('header.allClassInSubject') }}
            {{ $t(`subject.${$route.params.name.toLowerCase()}`) }}
          </h2>
        </b-col>
        <b-col>
          <b-pagination
            v-if="totalRows > 6"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="6"
            size="sm"
            hide-goto-end-buttons
            class="float-right"
          ></b-pagination>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          v-for="(item, index) in classInfo"
          :key="`subject-${index}`"
          cols="12"
          md="4"
          class="mb-4"
        >
          <ClassItem class="mx-auto" v-bind="item" />
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>
<script>
export default {
  name: 'Home',
  layout: 'Client',
  data() {
    return {
      limit: 6,
      currentPage: 1,
      searchText: '',
      classInfo: [],
      totalRows: 0
    }
  },
  components: {
    ClassItem: () => import('~/components/common/Template/ClassItem.vue')
  },
  async mounted() {
    this.getClass()
  },
  methods: {
    async getClass() {
      try {
        this.classInfo = []
        const response = await this.$axios.get(
          `/class/${this.$route.params.name}/${this.currentPage}&${this.limit}`
        )
        if (response.data.status == 200) {
          this.totalRows = response.data.totalRow
          // loop through results for custom prop rendering
          for (let classDetail in response.data.data) {
            const currentClass = response.data.data[classDetail]
            let classObject = {
              // Class name
              className: currentClass.Name,
              // Maximum amount of student
              maxStudentAmount: currentClass.StudentAmount,
              // Current amount of student
              currentStudentAmount: currentClass.CurrenceAmount,
              // Current amount of post
              postAmount: currentClass.PostAmount,
              // Teacher name
              teacherName: currentClass.TeacherName,
              // Class ID
              classID: currentClass.ID
            }
            // Check if the current user is in this class
            if (this.$store.state.currentUser != null) {
              for (let userDetail in this.$store.state.currentUser.class) {
                if (
                  currentClass.ID ==
                  this.$store.state.currentUser.class[userDetail].ID
                ) {
                  classObject['active'] = true
                }
              }
            }
            // Push to classInfo and pass to prop
            this.classInfo.push(classObject)
          }
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loginFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  watch: {
    currentPage() {
      this.getClass()
    }
  },
  head() {
    return {
      title: 'Subject list'
    }
  }
}
</script>
<style lang="scss" scoped>
.header-container {
  height: 500px;
  width: 100%;
  background-image: url('~@/assets/img/header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  height: 100%;
  width: 50%;
  padding: 2.5rem;
}
.header-title {
  color: $white;
}
.header-description {
  color: $white;
}
@media (max-width: 575.98px) {
  .header {
    width: 80%;
  }
}
</style>
