<template>
  <div></div>
</template>
<script>
export default {
  name: 'Home',
  layout: 'Client',
  middleware: [
    function({ redirect }) {
      redirect('/client')
    }
  ],
  head() {
    return {
      title: 'Home page'
    }
  }
}
</script>
