<template>
  <div>
    <!-- Register a new user -->
    <h3 class="mb-3">
      {{ $t('header.userCreate') }}
    </h3>
    <div class="content-wrapper mb-5">
      <ValidationObserver v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(addUser)">
          <!-- Email -->
          <ValidationProvider
            v-slot="{ errors }"
            mode="lazy"
            rules="required|email"
          >
            <b-form-group
              id="input-group-1"
              :label="$t('label.email')"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model.trim="email"
                type="email"
                :disabled="processing"
                :placeholder="$t('placeholder.email')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Name -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group
              id="input-group-2"
              :label="$t('label.name')"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model.trim="name"
                :disabled="processing"
                :placeholder="$t('placeholder.name')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Gender -->
          <b-form-group
            id="input-group-3"
            :label="$t('label.gender')"
            label-for="input-3"
          >
            <b-form-select
              id="input-3"
              v-model="gender"
              :disabled="processing"
              :options="genderOptions"
            ></b-form-select>
          </b-form-group>
          <!-- Role -->
          <b-form-group
            id="input-group-4"
            :label="$t('label.role')"
            label-for="input-4"
          >
            <b-form-select
              id="input-4"
              v-model="role"
              :options="roleOptions"
              :disabled="isNotAdmin || processing"
            ></b-form-select>
          </b-form-group>
          <!-- Subject ( if teacher ) -->
          <b-form-group
            v-if="role == 'Teacher'"
            id="input-group-5"
            :label="$t('label.subject')"
            label-for="input-5"
          >
            <b-form-select
              id="input-5"
              v-model="subject"
              :options="subjectOption"
              :disabled="isNotAdmin || processing"
            ></b-form-select>
          </b-form-group>
          <!-- Pasword -->
          <ValidationProvider
            v-slot="{ errors }"
            mode="lazy"
            rules="required|length"
          >
            <b-form-group
              id="input-group-6"
              :label="$t('label.password')"
              label-for="input-6"
            >
              <b-form-input
                id="input-6"
                v-model.trim="password"
                type="password"
                :disabled="processing"
                :placeholder="$t('placeholder.password')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <b-button variant="primary" type="submit" :disabled="processing">
            {{ $t('label.submit') }}
          </b-button>
        </b-form>
      </ValidationObserver>
    </div>
    <!-- Add/Remove from class -->
    <h3 class="mb-3">
      {{ $t('header.userModifyClass') }}
    </h3>
    <div class="content-wrapper mb-5">
      <b-form-group>
        <label>{{ $t('label.className') }}</label>
        <v-select
          v-model.trim="selectedClass"
          label="text"
          :options="classOption"
          :map-keydown="classSelect"
          :loading="loadingSpinner1"
        >
        </v-select>
      </b-form-group>
      <b-form-group>
        <label>{{ $t('label.studentName') }}</label>
        <v-select
          v-model.trim="selectedStudent"
          label="text"
          :options="studentOption"
          :map-keydown="userSelect"
          :loading="loadingSpinner2"
        ></v-select>
      </b-form-group>

      <b-button variant="primary" @click="addToClass" :disabled="processing">
        {{ $t('label.add') }}
      </b-button>
      <b-button
        variant="danger"
        @click="removeFromClass"
        :disabled="processing"
      >
        {{ $t('label.remove') }}
      </b-button>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserCreate',
  layout: 'Admin',
  data() {
    return {
      // Condition to check if admin for role editing
      isNotAdmin: true,
      // Form information
      email: '',
      name: '',
      password: '',
      gender: true,
      genderOptions: [
        { value: 'true', text: this.$t('gender.male') },
        { value: 'false', text: this.$t('gender.female') }
      ],
      role: 'Student',
      roleOptions: [
        { value: 'Admin', text: this.$t('role.admin'), disabled: true },
        { value: 'Moderator', text: this.$t('role.moderator') },
        { value: 'Teacher', text: this.$t('role.teacher') },
        { value: 'Student', text: this.$t('role.student') }
      ],
      subject: 'Mathematics',
      subjectOption: [
        { value: 'Mathematics', text: this.$t('subject.math') },
        { value: 'Physics', text: this.$t('subject.physics') },
        { value: 'Chemistry', text: this.$t('subject.chemistry') },
        { value: 'English', text: this.$t('subject.english') },
        { value: 'Biology', text: this.$t('subject.biology') },
        { value: 'Literature', text: this.$t('subject.literature') }
      ],
      // Vue select information
      selectedClass: '',
      classOption: [],
      selectedStudent: '',
      studentOption: [],
      // Set processing to prevent spamming API
      processing: false,
      // Spinner for both search bar
      loadingSpinner1: false,
      loadingSpinner2: false
    }
  },
  mounted() {
    if (this.$store.state.currentUser.roles.Name == 'Admin') {
      this.isNotAdmin = false
    }
  },
  methods: {
    // API to add new user
    async addUser() {
      try {
        this.processing = true
        const user = {
          Email: this.email,
          Name: this.name,
          Password: this.password,
          Role: this.role,
          Subject: this.subject,
          Gender: this.gender
        }
        if (this.isNotAdmin) {
          delete user['Role']
        }
        if (this.role != 'Teacher') {
          delete user['Subject']
        }
        const response = await this.$axios.post('/user/create', user, {
          headers: {
            Authorization: `Bearer ${Cookie.get('token')}`
          }
        })
        if (response.data.status == 201) {
          this.$bvToast.toast(this.$t('notification.addSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // API for vue select options
    userSelect(map, vm) {
      return {
        ...map,
        ...this,
        13: async (e) => {
          e.preventDefault()
          try {
            this.studentOption = []
            this.loadingSpinner2 = true
            const response = await this.$axios.get(
              `/user/search/1&5?data=${vm.search.trim()}`,
              {
                headers: { Authorization: `Bearer ${Cookie.get('token')}` }
              }
            )
            if (response.data.status == 200) {
              for (let student in response.data.data) {
                if (response.data.data[student].roles.Name == 'Student') {
                  this.studentOption.push({
                    value: response.data.data[student].ID,
                    text: `${response.data.data[student].Name} - ${response.data.data[student].Email}`
                  })
                }
              }
            } else {
              this.$bvToast.toast(this.$t(response.data.message), {
                title: this.$t('error.taskFailed'),
                autoHideDelay: 5000,
                variant: 'danger',
                appendToast: false
              })
            }
          } catch {
            this.$bvToast.toast(this.$t('error.server'), {
              title: this.$t('error.taskFailed'),
              autoHideDelay: 5000,
              variant: 'danger',
              appendToast: false
            })
          } finally {
            this.loadingSpinner2 = false
          }
        }
      }
    },
    classSelect(map, vm) {
      return {
        ...map,
        ...this,
        13: async (e) => {
          e.preventDefault()
          try {
            this.classOption = []
            this.loadingSpinner1 = true
            const response = await this.$axios.get(
              `/class/search/1&5?data=${vm.search.trim()}`,
              {
                headers: { Authorization: `Bearer ${Cookie.get('token')}` }
              }
            )
            if (response.data.status == 200) {
              for (let classInfo in response.data.data) {
                this.classOption.push({
                  value: response.data.data[classInfo].ID,
                  text: `${response.data.data[classInfo].Name} - ${response.data.data[classInfo].subject.Name}`
                })
              }
            } else {
              this.$bvToast.toast(this.$t(response.data.message), {
                title: this.$t('error.taskFailed'),
                autoHideDelay: 5000,
                variant: 'danger',
                appendToast: false
              })
            }
          } catch {
            this.$bvToast.toast(this.$t('error.server'), {
              title: this.$t('error.taskFailed'),
              autoHideDelay: 5000,
              variant: 'danger',
              appendToast: false
            })
          } finally {
            this.loadingSpinner1 = false
          }
        }
      }
    },
    // API to add and remove student from class
    async addToClass() {
      try {
        this.processing = true
        const info = {
          studentID: this.selectedStudent.value,
          classID: this.selectedClass.value
        }
        const response = await this.$axios.post('/class/add-student', info, {
          headers: {
            Authorization: `Bearer ${Cookie.get('token')}`
          }
        })
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.addSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    async removeFromClass() {
      try {
        this.processing = true
        const response = await this.$axios.delete(
          `/class/remove-student/${this.selectedClass.value}&${this.selectedStudent.value}`,
          {
            headers: {
              Authorization: `Bearer ${Cookie.get('token')}`
            }
          }
        )
        if (response.data.status == 200) {
          this.$bvToast.toast(this.$t('notification.deleteSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  middleware: 'AdminAuthRequired',
  head() {
    return {
      title: 'Create user'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
