<template>
  <div>
    <h3 class="mb-3">
      {{ $t('header.userList') }}
    </h3>
    <div class="content-wrapper">
      <div class="row">
        <!-- Search bar -->
        <b-col cols="6">
          <b-input-group>
            <b-form-input
              v-model.trim="searchText"
              :placeholder="$t('placeholder.search')"
              style="max-width:200px"
              size="sm"
              :disabled="processing"
              @keyup.enter="
                currentPage = 1
                search()
              "
            ></b-form-input>
            <template v-slot:append>
              <b-input-group-text>
                <fa
                  :icon="['fas', 'search']"
                  style="cursor:pointer"
                  @click="
                    currentPage = 1
                    search()
                  "
                />
              </b-input-group-text>
            </template>
          </b-input-group>
        </b-col>
        <!-- Limit and reset button -->
        <b-col cols="6" class="text-right">
          <span style="font-size: 0.8rem">
            {{ $t('action.showing') }} {{ items.length }} {{ $t('misc.in') }}
            {{ totalRow }} {{ $t('misc.result') }}
          </span>
          <b-form-select
            v-model="selectedLimit"
            :options="limitOption"
            style="max-width:60px;"
            size="sm"
            :disabled="processing"
          ></b-form-select>
          <b-button
            size="sm"
            variant="danger"
            :disabled="processing"
            @click="
              currentPage = 1
              getUser()
            "
          >
            {{ $t('label.resetTable') }}
          </b-button>
        </b-col>
      </div>
      <div class="mt-4">
        <!-- Main table -->
        <b-table
          id="user-table"
          responsive
          bordered
          hover
          :items="items"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:cell()="data">
            <p v-contextmenu:contextmenu style="cursor: pointer">
              {{ data.value }}
            </p>
          </template>
          <template v-slot:cell(Gender)="data">
            {{ data.value == 1 ? $t('gender.male') : $t('gender.female') }}
          </template>
          <template v-slot:cell(roles.Name)="data">
            {{ $t(`role.${data.value.toLowerCase()}`) | upper }}
          </template>
          <template v-slot:cell(subject.Name)="data">
            {{ data.value.length == 0 ? $t('label.none') : data.value }}
          </template>
        </b-table>
        <!-- Table pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRow"
          :per-page="selectedLimit"
          aria-controls="user-table"
          :disabled="processing"
        ></b-pagination>
        <!-- Context menu -->
        <v-contextmenu ref="contextmenu" class="p-0">
          <v-contextmenu-item @click="editUser()">
            <div class="p-1">
              <fa :icon="['fas', 'hammer']" />
              <span>{{ $t('action.edit') }}</span>
            </div>
          </v-contextmenu-item>
          <v-contextmenu-item v-b-modal.deleteModal>
            <div class="p-1">
              <fa :icon="['fas', 'trash']" />
              <span>{{ $t('action.delete') }}</span>
            </div>
          </v-contextmenu-item>
        </v-contextmenu>
        <!-- Modal -->
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size:7rem"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.confirmDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="md"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              size="md"
              variant="danger"
              :disabled="processing"
              @click="deleteUser()"
            >
              {{ $t('action.delete') }}
            </b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserList',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  data() {
    return {
      searchText: '',
      // Table main content
      items: [],
      // Table field
      fields: [
        { key: 'ID', label: this.$t('field.id') },
        { key: 'Name', label: this.$t('field.name') },
        { key: 'Email', label: this.$t('field.email') },
        { key: 'Gender', label: this.$t('field.gender') },
        { key: 'roles.Name', label: this.$t('field.role') },
        { key: 'subject.Name', label: this.$t('field.subject') }
      ],
      // Table limit
      selectedLimit: 5,
      limitOption: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      // Table total row
      totalRow: null,
      // Selected item for context menu
      selectedItem: {},
      currentPage: 1,
      // Set processing to prevent spamming API
      processing: false
    }
  },
  watch: {
    currentPage() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getUser()
      }
    },
    limit() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getUser()
      }
    }
  },
  mounted() {
    this.getUser()
  },
  methods: {
    // Get all user
    async getUser() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/user/${this.currentPage}&${this.selectedLimit}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Context menu handler
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    // Edit a user, only admin
    editUser() {
      if (this.$store.state.currentUser.roles.Name != 'Admin') {
        this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } else {
        this.$router.push(`/admin/users/${this.selectedItem.ID}/edit`)
      }
    },
    // Delete a user
    async deleteUser() {
      this.processing = true
      try {
        const response = await this.$axios.delete(
          `/user/${this.selectedItem.ID}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.getUser()
          this.$bvToast.toast(this.$t('notification.deleteSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    },
    // Search user by name and email
    async search() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/user/search/${this.currentPage}&${this.selectedLimit}?data=${this.searchText}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.searchFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (err) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.searchFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'User List' }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
