<template>
  <div>
    <h3 class="mb-3">
      {{ $t('header.postList') }}
    </h3>
    <div class="content-wrapper">
      <b-row>
        <!-- Search bar -->
        <b-col cols="6">
          <b-input-group>
            <b-form-input
              v-model.trim="searchText"
              :placeholder="$t('placeholder.searchByTitle')"
              style="max-width:200px"
              size="sm"
              :disabled="processing"
              @keyup.enter="
                currentPage = 1
                search()
              "
            ></b-form-input>
            <template v-slot:append>
              <b-input-group-text>
                <fa
                  :icon="['fas', 'search']"
                  style="cursor:pointer"
                  @click="
                    currentPage = 1
                    search()
                  "
                />
              </b-input-group-text>
            </template>
          </b-input-group>
        </b-col>
        <!-- Limit and reset button -->
        <b-col cols="6" class="text-right">
          <span style="font-size: 0.8rem">
            {{ $t('action.showing') }} {{ items.length }} {{ $t('misc.in') }}
            {{ totalRow }} {{ $t('misc.result') }}
          </span>
          <b-form-select
            v-model="selectedLimit"
            :options="limitOption"
            style="max-width:60px;"
            size="sm"
            :disabled="processing"
          ></b-form-select>
          <b-button
            size="sm"
            variant="danger"
            :disabled="processing"
            @click="
              currentPage = 1
              getPost()
            "
          >
            {{ $t('label.resetTable') }}
          </b-button>
        </b-col>
      </b-row>
      <div class="mt-4">
        <!-- Main table -->
        <b-table
          id="post-table"
          responsive
          bordered
          hover
          :items="items"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:cell()="data">
            <p v-contextmenu:contextmenu style="cursor: pointer">
              {{ data.value }}
            </p>
          </template>
          <template v-slot:cell(created_at)="data">
            <p>
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
          <template v-slot:cell(updated_at)="data">
            <p>
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
        </b-table>
        <!-- Table pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRow"
          :per-page="selectedLimit"
          aria-controls="post-table"
          :disabled="processing"
        ></b-pagination>
        <!-- Context menu -->
        <v-contextmenu ref="contextmenu" class="p-0">
          <v-contextmenu-item @click="editPost()">
            <div class="p-1">
              <fa :icon="['fas', 'hammer']" />
              <span>{{ $t('action.edit') }}</span>
            </div>
          </v-contextmenu-item>
          <v-contextmenu-item v-b-modal.deleteModal>
            <div class="p-1">
              <fa :icon="['fas', 'trash']" />
              <span>{{ $t('action.delete') }}</span>
            </div>
          </v-contextmenu-item>
        </v-contextmenu>
        <!-- Modal -->
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size:7rem"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.confirmDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="md"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              size="md"
              variant="danger"
              :disabled="processing"
              @click="deletePost()"
            >
              {{ $t('action.delete') }}
            </b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'PostList',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  data() {
    return {
      searchText: '',
      // Table main content
      items: [],
      // Table field
      fields: [
        { key: 'ID', label: this.$t('field.id') },
        { key: 'ClassName', label: this.$t('field.name') },
        { key: 'Title', label: this.$t('field.title') },
        { key: 'Content', label: this.$t('field.content') },
        { key: 'WriterName', label: this.$t('field.writer') },
        { key: 'created_at', label: this.$t('field.createdAt') },
        { key: 'updated_at', label: this.$t('field.updatedAt') }
      ],
      // Table limit
      selectedLimit: 5,
      limitOption: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      // Table total row
      totalRow: null,
      // Selected item for context menu
      selectedItem: {},
      currentPage: 1,
      // Set processing to prevent spamming API
      processing: false
    }
  },
  watch: {
    currentPage() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getPost()
      }
    },
    limit() {
      if (this.searchText.length > 0) {
        this.search()
      } else {
        this.getPost()
      }
    }
  },
  mounted() {
    this.getPost()
  },
  methods: {
    // Get all post
    async getPost() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/post/${this.currentPage}&${this.selectedLimit}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        console.log(response)
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // Context menu handler
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    // Edit a post, only admin
    editPost() {
      if (this.$store.state.currentUser.roles.Name != 'Admin') {
        this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } else {
        this.$router.push(`/admin/posts/${this.selectedItem.ID}/edit`)
      }
    },
    // Delete a post
    async deletePost() {
      if (this.$store.state.currentUser.roles.Name != 'Admin') {
        this.$bvToast.toast(this.$t('error.isNotPermittedToAccess'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
        this.$bvModal.hide('deleteModal')
      } else {
        this.processing = true
        try {
          const response = await this.$axios.delete(
            `/post/${this.selectedItem.ID}`,
            {
              headers: { Authorization: `Bearer ${Cookie.get('token')}` }
            }
          )
          if (response.data.status == 200) {
            this.getPost()
            this.$bvToast.toast(this.$t('notification.deleteSuccess'), {
              title: this.$t('notification.taskSuccess'),
              autoHideDelay: 5000,
              variant: 'success',
              appendToast: false
            })
          } else {
            this.$bvToast.toast(this.$t(response.data.message), {
              title: this.$t('error.taskFailed'),
              autoHideDelay: 5000,
              variant: 'danger',
              appendToast: false
            })
          }
        } catch {
          this.$bvToast.toast(this.$t('error.server'), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        } finally {
          this.$bvModal.hide('deleteModal')
          this.processing = false
        }
      }
    },
    // Search post by title
    async search() {
      this.processing = true
      try {
        const response = await this.$axios.get(
          `/post/search/${this.currentPage}&${this.selectedLimit}?data=${this.searchText}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.items = response.data.data
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.searchFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (err) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.searchFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Post List' }
  }
}
</script>
<style lang="scss" scoped>
.content-wrapper {
  padding: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
</style>
