<template>
  <div class="theme-layout">
    <section>
      <div class="gap2 gray-bg" style="min-height: 100vh">
        <b-container>
          <b-row>
            <b-col lg="12">
              <b-row class="merged20">
                <!-- Left handed sidebar -->
                <b-col lg="3">
                  <aside class="sidebar static left">
                    <!-- Class information -->
                    <div class="widget">
                      <h4 class="widget-title">
                        {{ $t('label.classInfo') }}
                      </h4>
                      <div class="your-page">
                        <figure>
                          <a href="#" title="">
                            <img :src="`${classInfo.avatarTeacher}`" alt="" />
                          </a>
                        </figure>
                        <div class="page-meta">
                          <a href="#" title="" class="underline">
                            {{ classInfo.nameTeacher }}
                          </a>
                          <span class="align-items-center d-flex">
                            <i class="far fa-bell"></i>
                            <a href="#">
                              {{ $t('label.courseTeacher') }}
                            </a>
                          </span>
                        </div>
                        <div class="class-info mt-2 px-2">
                          <p class="mb-1">
                            <b>{{ $t('label.subject') }}</b>
                            {{ classInfo.subject }}
                          </p>
                          <p class="mb-1">
                            <b>{{ $t('label.ID') }}</b>
                            {{ classInfo.Name }}
                          </p>
                          <p class="mb-1">
                            <b> {{ $t('label.subject') }}</b>
                            {{ classInfo.member }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- Create new post -->
                    <div
                      class="widget"
                      v-if="$store.state.currentUser.roles.Name != 'Student'"
                    >
                      <h4 class="widget-title">
                        {{ $t('header.postCreate') }}
                      </h4>
                      <div class="text-center">
                        <b-button
                          style="color:white;"
                          variant="primary"
                          class="mb-4"
                          :to="
                            `/client/class/${$route.params.classID}/create/post`
                          "
                        >
                          <i
                            class="fas fa-plus mr-2"
                            style="font-size: 14px;"
                          ></i>
                          {{ $t('header.postCreate') }}
                        </b-button>
                      </div>
                    </div>
                  </aside>
                </b-col>
                <!-- Middle section -->
                <b-col lg="6">
                  <div class="loadMore">
                    <div class="central-meta item">
                      <div class="user-post">
                        <p class="m-0">
                          {{ $t('header.allPostInClass') }}
                        </p>
                      </div>
                    </div>

                    <div
                      v-for="post in posts"
                      :key="post.ID"
                      class="central-meta item"
                    >
                      <div class="user-post">
                        <div class="friend-info">
                          <figure v-if="post.users.Avatar != null">
                            <img :src="`${post.users.Avatar}`" alt="" />
                          </figure>
                          <figure v-else>
                            <img
                              v-if="post.users.Gender == 1"
                              :src="
                                `${require('~/assets/img/default-man.png')}`
                              "
                            />
                            <img
                              v-else
                              :src="
                                `${require('~/assets/img/default-woman.png')}`
                              "
                            />
                          </figure>

                          <div class="friend-name">
                            <div
                              class="more"
                              v-if="
                                $store.state.currentUser.roles.Name != 'Student'
                              "
                            >
                              <div class="more-post-optns">
                                <i class="fas fa-ellipsis-h"></i>
                                <ul>
                                  <li
                                    @click="
                                      $router.push(
                                        `/client/class/${$route.params.classID}/${post.ID}/edit`
                                      )
                                    "
                                  >
                                    <i class="fas fa-edit"></i>
                                    {{ $t('action.edit') }}
                                  </li>
                                  <li @click="deletePost(post.ID)">
                                    <i class="fas fa-trash-alt"></i>Delete Post
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <ins>
                              <a class="mr-2" href="#" title="">{{
                                post.users.Name
                              }}</a>
                            </ins>

                            <span>
                              {{ $t('action.publish') }}
                              {{
                                $moment(post.created_at).format(
                                  'MMMM Do YYYY, h:mm:ss a'
                                )
                              }}
                            </span>
                          </div>
                          <div class="post-meta">
                            <p class="mr-2 mb-0">
                              {{ $t('label.title') }}
                              {{ post.Title }}
                            </p>
                            <div v-html="post.Content"></div>
                            <figure>
                              <div
                                v-if="post.imageURL != null"
                                class="img-bunch"
                              >
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <figure>
                                      <a
                                        href="#"
                                        title=""
                                        data-toggle="modal"
                                        data-target="#img-comt"
                                      >
                                        <img :src="post.imageURL" alt="" />
                                      </a>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                              <ul class="like-dislike">
                                <li>
                                  <a
                                    class="bg-purple"
                                    href="#"
                                    title="Save to Pin Post"
                                  >
                                    <i class="fas fa-thumbtack"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="bg-blue" href="#" title="Like Post">
                                    <i class="far fa-thumbs-up"></i>
                                  </a>
                                </li>
                                <li>
                                  <a
                                    class="bg-red"
                                    href="#"
                                    title="dislike Post"
                                  >
                                    <i class="far fa-thumbs-down"></i>
                                  </a>
                                </li>
                              </ul>
                            </figure>
                            <div class="we-video-info">
                              <ul>
                                <li>
                                  <span class="views" title="views">
                                    <i class="fas fa-eye"></i>
                                    <ins>12</ins>
                                  </span>
                                </li>
                                <li class="mb-1">
                                  <div
                                    class="fas fa-heart"
                                    title="Like/Dislike"
                                  >
                                    <i
                                      class="fas fa-heart"
                                      style="font-size: 17px;"
                                    ></i>
                                    <span>6</span>
                                  </div>
                                </li>
                                <li>
                                  <span class="comment" title="Comments">
                                    <i class="fas fa-comment"></i>
                                    <ins>52</ins>
                                  </span>
                                </li>

                                <li>
                                  <span>
                                    <a class="share-pst" href="#" title="Share">
                                      <i class="fas fa-share"></i>
                                    </a>
                                    <ins>20</ins>
                                  </span>
                                </li>
                              </ul>
                            </div>
                            <div class="coment-area" style="display: block;">
                              <ul class="we-comet">
                                <li
                                  v-for="(comment, index) in comments"
                                  :key="index"
                                >
                                  <div class="comet-avatar">
                                    <img
                                      :src="`${comment.avatarComment}`"
                                      alt=""
                                    />
                                  </div>
                                  <div class="we-comment">
                                    <h5>
                                      <a class="username" href="#" title="">{{
                                        comment.userName
                                      }}</a>
                                    </h5>
                                    <p>
                                      {{ comment.comment }}
                                    </p>
                                    <div class="inline-itms">
                                      <span style="font-size: 12px;">
                                        1 year ago
                                      </span>
                                      <a
                                        class="we-reply mr-2"
                                        href="#"
                                        title="Reply"
                                      >
                                        <span
                                          style="font-size: 12px;"
                                          class="mr-2"
                                        >
                                          {{ $t('action.reply') }}
                                        </span>
                                        <a href="#" title="">
                                          <i
                                            class="fas fa-heart"
                                            style="font-size: 12px;"
                                          ></i>
                                          <span>20</span>
                                        </a>
                                      </a>
                                    </div>
                                  </div>
                                </li>
                                <li class="post-comment">
                                  <div class="comet-avatar">
                                    <img
                                      src="~/assets/img/resources/nearly1.jpg"
                                      alt=""
                                    />
                                  </div>
                                  <div class="post-comt-box">
                                    <form method="post">
                                      <textarea
                                        placeholder="Post your comment"
                                      ></textarea>
                                      <div class="add-smiles">
                                        <div class="uploadimage">
                                          <i
                                            style="cursor:pointer;"
                                            class="far fa-image"
                                          ></i>
                                          <label class="fileContainer">
                                            <input type="file" />
                                          </label>
                                        </div>
                                      </div>

                                      <button type="submit"></button>
                                    </form>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Post -->
                  </div>
                </b-col>
                <!-- Right handed sidebar -->
                <b-col lg="3">
                  <aside class="sidebar static right">
                    <div class="widget stick-widget">
                      <h4 class="widget-title">
                        {{ $t('label.member') }} {{ classInfo.member }} /
                        {{ classInfo.maxMember }}
                      </h4>
                      <ul class="followers">
                        <li
                          v-for="member in members"
                          :key="member.id"
                          class="d-flex justify-content-between align-items-center"
                        >
                          <figure v-if="member.Avatar != null">
                            <img :src="`${member.Avatar}`" alt="" />
                          </figure>
                          <figure v-else>
                            <img
                              v-if="member.Gender == 1"
                              :src="
                                `${require('~/assets/img/default-man.png')}`
                              "
                            />
                            <img
                              v-else
                              :src="
                                `${require('~/assets/img/default-woman.png')}`
                              "
                            />
                          </figure>
                          <div class="friend-meta">
                            <h4>
                              <a href="#">{{ member.Name }}</a>
                            </h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </aside>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </section>
  </div>
</template>

<script>
import Cookie from 'js-cookie'
export default {
  layout: 'Client',
  middleware: 'AuthRequired',
  // Minicheck
  async created() {
    // Check if in class
    let inClass = false
    for (let i = 0; i < this.$store.state.currentUser.class.length; i++) {
      if (
        this.$store.state.currentUser.class[i].ID == this.$route.params.classID
      ) {
        inClass = true
        break
      }
    }
    if (
      inClass ||
      this.$store.state.currentUser.roles.Name == 'Admin' ||
      this.$store.state.currentUser.roles.Name == 'Moderator'
    ) {
      if (process.client) {
        await this.getClassInfo()
        await this.getClassMember()
        await this.getClassPost()
      }
    } else {
      this.$store.dispatch('logout')
      this.$router.push('/client/auth/login')
    }
  },
  methods: {
    // API to get class information
    async getClassInfo() {
      try {
        const response = await this.$axios.get(
          `/class/${this.$route.params.classID}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.classInfo.nameTeacher = response.data.data.users.Name
          this.classInfo.IDTeacher = response.data.data.users.ID
          this.classInfo.subject = response.data.data.subject.Name
          this.classInfo.Name = response.data.data.Name
          this.classInfo.member = response.data.data.CurrenceAmount
          this.classInfo.maxMember = response.data.data.StudentAmount
          if (response.data.data.users.Avatar != null) {
            this.classInfo.avatarTeacher = response.data.data.users.Avatar
          } else {
            if (response.data.data.users.Gender == 1) {
              this.classInfo.avatarTeacher = require('~/assets/img/default-man.png')
            } else {
              this.classInfo.avatarTeacher = require('~/assets/img/default-woman.png')
            }
          }
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch (error) {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
        return this.$nuxt.error({ statusCode: 404 })
      }
    },
    // API to get class member
    async getClassMember() {
      try {
        const response = await this.$axios.get(
          `/user/student/${this.$route.params.classID}&1&${this.classInfo.maxMember}`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        if (response.data.status == 200) {
          this.members = response.data.data
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    },
    // API to get class posts
    async getClassPost() {
      this.processing = true
      try {
        this.posts = []
        const response = await this.$axios.get(
          `/post/${this.$route.params.classID}/1&20`,
          {
            headers: { Authorization: `Bearer ${Cookie.get('token')}` }
          }
        )
        console.log(response)
        if (response.data.status == 200) {
          this.posts = response.data.data.reverse()
          this.totalRow = response.data.totalRow
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.loadDataFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.loadDataFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      } finally {
        this.processing = false
      }
    },
    // API to delete post
    async deletePost(id) {
      try {
        const response = await this.$axios.delete(`/post/${id}`, {
          headers: { Authorization: `Bearer ${Cookie.get('token')}` }
        })
        if (response.data.status == 200) {
          this.getClassPost()
          this.$bvToast.toast(this.$t('notification.deleteSuccess'), {
            title: this.$t('notification.taskSuccess'),
            autoHideDelay: 5000,
            variant: 'success',
            appendToast: false
          })
        } else {
          this.$bvToast.toast(this.$t(response.data.message), {
            title: this.$t('error.taskFailed'),
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: false
          })
        }
      } catch {
        this.$bvToast.toast(this.$t('error.server'), {
          title: this.$t('error.taskFailed'),
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: false
        })
      }
    }
  },
  data() {
    return {
      // List of class member
      members: [],
      // List of class post
      posts: [],
      classInfo: {
        avatarTeacher: require('~/assets/img/default-man.png'),
        nameTeacher: '',
        subject: '',
        Name: '',
        member: 0,
        maxMember: 0,
        IDTeacher: ''
      },
      comments: [
        {
          avatarComment: require('~/assets/img/resources/nearly3.jpg'),
          userName: 'Quang Tú',
          comment: 'Dạ em đã đọc được bài viết!'
        },
        {
          avatarComment: require('~/assets/img/resources/friend-avatar2.jpg'),
          userName: 'Trâm Nguyễn',
          comment: 'Dạ em đã đọc được bài viết!'
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import url('./style.scss');
</style>
