/*===============
***General Styling 
===============*/
html,
body {
  font-family: 'Roboto', 'Segoe Ui';
}
body {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #757a95;
  font-size: 14px;
  letter-spacing: 0.2px;
}
p {
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 26px;
  color: #535165;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  outline: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

.theme-layout {
  float: left;
  position: relative;
  width: 100%;
}
section {
  float: left;
  position: relative;
  width: 100%;
}

.gap2 {
  padding: 30px 0;
  position: relative;
}

.d-flex a,
.d-flex a:hover,
.d-flex a:focus,
.d-flex a:active {
  border: medium none !important;
}

.gray-bg {
  float: left;
  width: 100%;
  background: #edf2f6;
}

.bg-purple {
  background: #7750f8;
}
.bg-blue {
  background: #23d2e2;
}
.bg-red {
  background: #e44a3c;
}

.like-dislike > li a.bg-purple {
  background: #7750f8;
}
.like-dislike > li a.bg-blue {
  background: #23d2e2;
}
.like-dislike > li a.bg-red {
  background: #e44a3c;
}
[type='submit'],
button,
html [type='button'] {
  cursor: pointer;
}

textarea {
  resize: none;
}
iframe {
  width: 100%;
}

/*--- timeline area ---*/
.fileContainer {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
}

.fileContainer [type='file'] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.row[data-gutter='10'] > [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}

/*--- sidebar widgets ---*/
.sidebar {
  display: inline-block;
  float: none;
  margin: 0 auto;
  width: 100%;
}
.sidebar .widget {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ede9e9;
  border-radius: 6px;
}

.sidebar .widget:last-child {
  margin-bottom: 0;
}

.sidebar .widget > ul {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 20px 20px;
  width: 100%;
}

.sidebar .widget-title {
  border-bottom: 1px solid #e6ecf5;
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.sidebar .widget-title::before {
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
}

.sidebar .widget li {
  display: inline-block;
  margin-bottom: 14px;
  position: relative;
  width: 100%;
}

.sidebar .widget li:last-child {
  margin-bottom: 0;
}

.sidebar .widget li i {
  display: inline-block;
  font-size: 12px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  font-style: normal;
}

.sidebar .widget li > a {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  vertical-align: top;
}
.sidebar .widget li > a i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  font-size: 25px;
}
/*--- central posts meta box ---*/
.central-meta {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ede9e9;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.central-meta.padding30 {
  padding: 30px;
}

textarea {
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 0 0;
  padding: 10px;
  width: 100%;
  border-bottom: 0;
}

form button {
  border: medium none;
  border-radius: 30px;
  color: #fff;
  float: right;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 30px;
  transition: all 0.2s linear 0s;
}

.friend-info {
  display: inline-block;
  position: relative;
  width: 100%;
}

.friend-info > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 40px;
}

.friend-name {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 91.2%;
}

.friend-name > em {
  color: #aaa;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
}
.friend-name > ins {
  display: inline-block;
  width: 90%;
  font-size: 12px;
  text-decoration: none;
}
.friend-name > ins > a {
  font-size: 13.5px;
  font-weight: 500;
}

.user-post {
  border-bottom: 1px dashed #ccc;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.central-meta .user-post:last-child {
  border: 0 none;
  margin-bottom: 0;
  padding: 0;
}

.more-post-optns > ul {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  right: -100px;
  top: -220%;
  transform: scale(0);
  transition: all 0.2s linear 0s;
  visibility: hidden;
  width: 175px;
  z-index: 9;
}
.more-post-optns {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.more-post-optns > ul > li {
  cursor: pointer;
  display: inline-block;
  font-size: 11.5px;
  margin-bottom: 7px;
  transition: all 0.2s linear 0s;
  width: 100%;
  font-weight: 400;
}
.more-post-optns > ul > li:last-child {
  margin-bottom: 0;
}
.more-post-optns > ul > li i {
  color: #222;
  display: inline-block;
  font-size: 14px;
  margin-right: 8px;
  transition: all 0.1s linear 0s;
  vertical-align: middle;
}

.more-post-optns > ul > li:hover i {
  transform: scale(1.1);
}
.more-post-optns:hover > ul {
  opacity: 1;
  right: -1px;
  top: 100%;
  transform: scale(1);
  visibility: visible;
}
.more-post-optns::before {
  background: #eee none repeat scroll 0 0;
  border-radius: 100%;
  content: '';
  height: 33px;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s linear 0s;
  width: 33px;
  z-index: 1;
}
.more-post-optns > i {
  position: relative;
  z-index: 2;
}
.more-post-optns:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.friend-name > span {
  color: #999;
  float: left;
  font-size: 12px;
  width: 90%;
}

.like-dislike {
  left: 50%;
  list-style: outside none none;
  margin-bottom: 0px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 88;
}

.like-dislike > li {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  margin: 0 3px;
  transform: scale(0);
  transition: all 0.2s linear 0s;
}
.like-dislike > li:nth-child(1) {
  transition: all 0.2s linear 0.1s;
}
.like-dislike > li:nth-child(2) {
  transition: all 0.2s linear 0.2s;
}
.like-dislike > li:nth-child(3) {
  transition: all 0.2s linear 0.3s;
}
.post-meta:hover .like-dislike > li {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.like-dislike > li a {
  background: #989dbd none repeat scroll 0 0;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  transition: all 0.2s linear 0s;
  width: 34px;
}
.like-dislike > li a:hover {
  background: #fff none repeat scroll 0 0;
  transform: scale(1.1);
}

.post-meta {
  float: left;
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.post-meta > figure {
  display: inline-block;
  margin: 0;
  position: relative;
  width: 100%;
}
.post-meta > figure .like-dislike {
  bottom: -12px;
  top: auto;
  transform: translate(-50%, 0px);
}

.post-meta > figure img {
  float: left;
  width: 100%;
}

/*-- sharing post area ----*/
.we-video-info {
  border-top: 1px solid #ede9e9;
  float: left;
  padding: 8px 0 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

.we-video-info > ul {
  float: left;
  line-height: 27px;
  margin-bottom: 0;
  margin-top: 13px;
  padding-left: 0;
  width: 66%;
}

.we-video-info > ul li {
  display: inline-block;
  font-size: 13px;
  margin-right: 32px;
  vertical-align: middle;
}

.we-video-info > ul li span {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #adadfd;
}
.we-video-info > ul li span.comment {
  cursor: pointer;
}
.we-video-info > ul li span:hover i {
  animation: 0.6s linear 0s normal none 1 running pulse;
}

.we-video-info > ul li:last-child {
  margin-right: 0;
}

.we-video-info > ul li span.dislike {
  cursor: pointer;
  transition: all 0.2s linear 0s;
}

.we-video-info > ul li span ins {
  font-size: 11px;
  left: 20px;
  position: absolute;
  text-decoration: none;
  top: -10px;
}

.we-video-info > ul li span.like {
  cursor: pointer;
  transition: all 0.2s linear 0s;
}

.we-video-info
  > ul
  li
  span.like:hover
  .we-video-info
  > ul
  li
  span.dislike:hover {
  transform: scale(1.1);
}
.we-video-info > ul li span i {
  font-size: 17px;
}

.we-video-info ul li .heart {
  display: inline-block;
  font-size: 20px;
  position: relative;
  vertical-align: sub;
}
.we-video-info ul li .heart > span {
  color: inherit;
  font-size: 11px;
  left: 21px;
  position: absolute;
  top: -5px;
}

/*--- comment area ---*/
.coment-area {
  margin-top: 20px;
  width: 100%;
  display: none;
  float: left;
}

.we-comet {
  float: left;
  width: 100%;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.we-comet > li {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.we-comet > li:last-child {
  margin-bottom: 0;
}

.comet-avatar {
  display: inline-block;
  max-width: 36px;
  vertical-align: top;
  width: 36px;
}

.we-comment {
  border-bottom: 1px solid #ede9e9;
  display: inline-block;
  padding-bottom: 8px;
  padding-left: 8px;
  position: relative;
  vertical-align: top;
  width: 92%;
}

.inline-itms > a i {
  margin-right: 3px;
}
.inline-itms > a span {
  font-size: 11px;
}
.inline-itms {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.we-comet > li ul {
  border-left: 2px solid #23d2e2;
  list-style: outside none none;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 15px;
}

.we-comet > li ul li {
  margin-bottom: 20px;
}

.we-comet > li ul li:last-child {
  margin-bottom: 0;
}

.we-comment > h5 {
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 8px;
  width: auto;
}

.we-comment > p {
  display: inline;
  font-size: 13.4px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.inline-itms > a,
.inline-itms > span {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

li.post-comment .comet-avatar {
  display: inline-block;
  max-width: 30px;
  vertical-align: top;
  width: 30px;
}

.post-comt-box {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  width: 93%;
}

.post-comt-box form textarea {
  background: #edf2f6 none repeat scroll 0 0;
  border-color: transparent;
  border-radius: 5px;
  color: inherit;
  font-size: 13px;
  height: 80px;
  line-height: 16px;
}
.post-comt-box form textarea:focus {
  border-color: rgba(0, 0, 0, 0.1);
}

.add-smiles {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  line-height: 10px;
}
.post-comt-box form button {
  bottom: 2px;
  position: absolute;
  right: 0;
  background: none;
}

.widget {
  float: left;
  width: 100%;
}

.widget > a {
  display: inline-block;
  margin-bottom: 32px;
}

.widget-title {
  float: left;
  margin-bottom: 35px;
  width: 100%;
}

a.underline {
  position: relative;
}

a.underline:before {
  background: #545454;
  bottom: -5px;
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  transition: all 0.2s linear 0s;
}

a.underline:hover:before {
  opacity: 1;
  visibility: visible;
  bottom: 2px;
}

.followers {
  max-height: 260px;
  position: relative;
}

.followers > li figure {
  display: inline-block;
  margin-bottom: 0;
  max-width: 40px;
  min-width: 40px;
  vertical-align: middle;
  width: 40px;
}

.friend-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 80%;
}

.friend-meta > h4 {
  color: #535165;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
  width: 60%;
}

.friend-meta > h4 a {
  transition: all 0.2s linear 0s;
}

.friend-meta > a {
  float: right;
  font-size: 12px;
  margin-top: 3px;
  position: relative;
}

.theme-layout::before {
  background: rgba(52, 70, 93, 0.7);
  background-repeat: repeat;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.5s linear 0s;
  visibility: hidden;
  opacity: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*---- your page widget ---*/

.your-page > figure {
  display: inline-block;
  margin-bottom: 0;
  max-width: 55px;
  vertical-align: middle;
  width: 55px;
}
.your-page figure a img {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.page-meta {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  width: 69.8%;
}

.your-page {
  display: inline-block;
  padding: 0 20px 10px;
  width: 100%;
}

.page-meta > a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  width: auto;
  color: #515365;
}

.page-meta > span {
  display: inline-block;
  font-size: 12px;
  width: 100%;
}

.page-meta > span i {
  margin-right: 5px;
  vertical-align: sub;
}

.static,
.static > div {
  position: static;
}

/*--- 100% radius images ---*/
.friend-info > figure img,
.comet-avatar > img,
.followers > li figure img,
.your-page > figure img {
  border-radius: 100%;
}

/*--- side chat message box ---*/
.more {
  float: right;
  position: relative;
}

.more > span {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}

.sidebar.left {
  float: right;
  width: 100%;
}

.sidebar.right {
  float: left;
  width: 100%;
}
.row.merged20 {
  margin-right: -10px;
  margin-left: -10px;
}
.row.merged20 > div {
  padding: 0 10px;
}

.row.merged20 .row.merged20 {
  padding-left: 5px;
  padding-right: 5px;
}

.row.merged20 .row.merged20 {
  margin-left: -15px;
  margin-right: -15px;
}

/*--- image punch post style ---*/
.img-bunch > .row {
  margin: 0;
}
.img-bunch {
  float: left;
  width: 100%;
  position: relative;
}
.img-bunch > .row > div {
  padding: 0;
}
.img-bunch figure {
  float: left;
  margin: 0;
  padding: 1px;
  width: 100%;
  position: relative;
}

/*--- error page ---*/
.gap.z0::before {
  z-index: 0;
}

.widget > span {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  color: #838195;
}

.share-pst {
  transition: all 0.1s linear 0s;
}
/*--- animated heart ---*/
.heart {
  height: 20px;
  transform: translateZ(0);
  color: #b3b1c5;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.heart:hover {
  animation: pulse 0.6s linear;
}
.heart:before {
  content: '❤';
  position: absolute;
  color: #a12b2b;
  opacity: 0;
}

.heart > span {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  vertical-align: text-top;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
/*--- your page widget ---*/
.your-page > figure > span {
  color: red;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
}

/*---- description area of product detail page ---*/
.user-post {
  color: #535165;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  width: 100%;
}
.user-post > i {
  font-size: 20px;
  margin-right: 8px;
}
/*=========================
	FONT COLOR
=========================*/
.we-comment > p a,
.sidebar .widget li:hover > a,
.sidebar .widget li:hover > i,
.friend-meta > a,
.friend-meta > h4 a:hover,
.we-comment > h5:hover,
.inline-itms > a:hover,
.like-dislike > li a:hover,
.friend-name > ins > a,
.more-post-optns > ul > li:hover,
.more-post-optns > ul > li:hover i,
.page-likes .tab-content .tab-pane > a,
.page-meta > a:hover,
.we-video-info > ul li span:hover,
.we-video-info .heart:hover,
.post-meta > h6 > a:hover,
.heading-2 span,
.your-page > figure > span,
.username {
  color: #fa6342;
}

/*=========================
	BACKGROUND COLOR
=========================*/
form button,
a.underline:before,
a.dislike-btn,
.sidebar .widget-title::before {
  background: #fa6342;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .friend-meta {
    width: 76%;
  }
  .friend-meta > h4 {
    width: 54%;
  }
  p {
    font-size: 13px;
  }
  .page-meta {
    width: 68.8%;
  }
  .we-video-info > ul li {
    margin-right: 26px;
  }
  .friend-name {
    width: 89%;
  }
  .friend-meta > h4 {
    width: 53%;
  }
}

/*--- tablet view ---*/
@media screen and (max-width: 990px) {
  .container {
    max-width: 720px;
  }
  .sidebar > .widget,
  .sidebar > div {
    float: left;
    margin: 0 20px 20px 0;
    width: 48.5%;
  }
  .sidebar > .widget:nth-child(2n),
  .sidebar > div:nth-child(2n) {
    margin-right: 0;
  }
  .sidebar .widget:last-child {
    margin-right: 0;
  }
  .sidebar.left {
    margin-bottom: 30px;
  }
  .sidebar.right {
    margin-top: 30px;
  }
  .friend-name {
    width: 93%;
  }
}

@media screen and (max-width: 812px) {
  .sidebar > .widget {
    width: 48.5%;
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media screen and (max-width: 736px) {
  .container {
    max-width: 600px;
  }
  .sidebar.left {
    margin-bottom: 30px;
  }
  .sidebar.right {
    margin-top: 30px;
  }
  form button {
    font-size: 12px;
    padding: 6px 20px;
  }
  .friend-name {
    width: 90%;
  }
  .col-sm-6 .sidebar > .widget,
  .col-sm-6 .sidebar > div {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .sidebar > .widget {
    width: 100%;
    margin-right: 0;
  }
  .class-info {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 568px) {
  .row.merged20 > div {
    padding: 0 15px;
  }
  .container {
    max-width: 540px;
  }
  .sidebar .widget:last-child {
    margin-bottom: 20px;
  }
  .we-comment {
    width: 91%;
  }
  .post-comt-box {
    width: 90%;
  }

  .sidebar > .widget {
    margin-right: 12px;
  }
}

@media screen and (max-width: 480px) {
  .we-video-info > ul li:last-child {
    margin-top: 20px;
    width: 100%;
  }
  .we-video-info > ul li {
    margin-right: 32px;
  }
  .friend-name {
    width: 87%;
  }
  .like-dislike {
    top: 40%;
  }
  .we-comment {
    width: 87%;
  }
  .search-meta > span {
    font-size: 16px;
  }
  .d-flex {
    display: inline-block !important;
  }
  .we-video-info > ul li:last-child {
    margin-top: 0;
    width: auto;
  }
  .sidebar > .widget {
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .sidebar.left .widget:last-child {
    margin-bottom: 0;
  }
  .friend-name {
    width: 86%;
  }
  .we-video-info > .users-thumb-list {
    width: 100%;
    margin-top: 10px;
  }
  .post-meta .we-video-info > ul {
    width: 100%;
  }
  .post-comt-box {
    width: 89%;
  }
  .log-user > .row > div {
    width: 50%;
  }
  .video-js.vjs-default-skin.vjs-paused {
    height: 180px !important;
  }
}

@media screen and (max-width: 375px) {
  .friend-name {
    width: 85%;
  }
  .post-comt-box {
    width: 87%;
    padding-left: 0;
  }
  .we-comment {
    width: 85%;
  }
}

@media screen and (max-width: 360px) {
  .friend-name {
    width: 84%;
  }
}

@media screen and (max-width: 320px) {
  .we-video-info > ul li {
    margin-right: 24px;
  }
  .we-video-info > ul li span {
    font-size: 14px;
  }
  .we-video-info > ul li span ins {
    font-size: 10px;
  }
  .post-comt-box {
    width: 85%;
  }
  .we-comment {
    width: 83%;
  }
  .friend-name {
    width: 82%;
  }
  .like-dislike {
    left: -15px;
    top: 10px;
    transform: translate(0px, 0px);
  }
  .like-dislike > li {
    margin-bottom: 10px;
  }
  .sidebar > .widget,
  .sidebar > div {
    width: 100%;
  }
  .friend-name {
    width: 81%;
  }
  .central-meta {
    padding: 15px;
  }
}